[2019-11-16 00:20] bruno-brant opened #5 "JSON returned from create-for-rbac isn't in the corrected format"
I'm trying to use GitHub actions to publish an Azure web app for the first time and I encountered a problem. The README tells me that I should store the JSON returned from `az ad sp create-for-rbac (...)` in a secret, however, it seems that _that_ JSON isn't what the action is actually expecting.

For instance, I got the following JSON:

[code]

And that resulted in an error:

So, a friend realize

[2019-12-03 13:20] ardacetinkaya commented on #5
If I do not add subscription key, I got the " Not all values are present in the creds object. Ensure clientId, clientSecret, tenantId and subscriptionId are supplied" error. So I added it and login action is succeeded.

Valid JSON as secret is like below;

[code]

[2019-12-10 22:44] justinyoo opened #8 "Content is not a valid JSON object"
Similar to #5, I created a service principal and got the result of

[code]

However, I got the following error when I login to Azure:

![image](https://user-images.githubusercontent.com/1538528/70575365-79f38d80-1bfa-11ea-8cfb-115bb2a3c48e.png)

I omitted, just in case, unnecessary properties from the JSON object like:

[code]

And the result is still the same. What am I missing?

[2019-12-10 23:37] justinyoo commented on #8
I found why I got the error. Here's my action:

[code]

I intentionally used the environment variable at the step level. However, it didn't pass to the parameter. Can we use the environment variable to capture secrets from the repo?

[2019-12-31 16:25] lynshi commented on #5
You need to add the `--sdk-auth` flag to the `create-for-rbac` command.

[2020-01-07 23:07] actions-devops opened #11 "Request for support for Sovereign clouds like AzureUSGovernment"
Requesting support to be added to support Sovereign clouds like AzureUSGovernment.
This is fairly easy to implement by first adding a "cloud" param and then checking to see if it is set.
If the cloud param is set then use the string to run az cloud set --name [cloud param value]

[code]

Once I get my CLA signed, I will submit a Pull request.

[2020-01-28 09:47] N-Usha commented on #11
Thanks @actions-devops. We will enhance our actions to support Sovereign clouds.

@SumiranAgg  as FYI

[2020-01-28 09:48] N-Usha commented on #8
Thanks @justinyoo for using our action and providing feedback. Adding @SumiranAgg to respond your queries.

[2020-02-06 01:55] jeepdude1980 commented on #5
I'm gunna find you fools

[2020-02-06 02:48] jeepdude1980 commented on #5
I've been hacked remove thks

[2020-04-13 18:12] aaltotsky opened #17 "Output log reveal azure secrets"
The usage of the command:
    - uses: azure/login@v1
      with:
        creds: ${{ secrets.AZURE_CREDENTIALS }}
will output the azure subscription, homeTenantId, and so on into the GitHub Action log. Is there a way to add an additional parameter "--output none"?

[2020-04-14 00:50] aaltotsky commented on #17
Perfect! I like the default setting for this. The issue is fixed. Thanks for the quick turnaround on this.

[2020-04-14 00:50] #17 closed

[2020-04-15 19:20] ghstahl opened #20 "Login consistently takes 30s-60s to complete"
Is this a function of the VMs that github provisions, this action, or the az cli itself?

[code]

[2020-05-03 09:57] gsuttie opened #24 "Empty array returned"
Hi folks

When I run this I get the following: -

 Run az webapp list --query "[?state=='Running']"4s
Run az webapp list --query "[?state=='Running']"
  az webapp list --query "[?state=='Running']"
  shell: /bin/bash -e ***0***
  env:
    AZURE_HTTP_USER_AGENT:
[]

So nothing returned, but If I run the same command using the Azure CLI I get results returned as I have a number of websites running.

[2020-05-07 08:58] thesattiraju opened #27 "Security: Potential leak of az secrets on cmdline."

[2020-05-11 14:54] dipesharora opened #29 "Add capability to login without Subscription ID for Service Principal"
Add the capability to login without Subscription ID mapped to Service Principal using _--allow-no-subscriptions_ option in _az login_. It is typical for use cases where one may have added a service principal to allow access to Azure Key Vault to get values for keys, secrets, etc. however, don't want to give any other permissions to ensure the least privilege. Users should be able to select if the

[2020-05-12 08:56] JasonTheDeveloper opened #30 "Unable to login when enable-AzPSSession is enabled"
When I try logging in with `enable-AzPSSession: true` I get the following output:

[code]

However, if I set `enable-AzPSSession: false` it logs in fine.

Note: I'm using `windows-latest` as the runner.

[2020-05-13 04:47] N-Usha commented on #30
Thanks @JasonTheDeveloper so much for reporting the issue. We will look into the PR submitted and get it merged once our engineers review and sign off on the same.  Thanks again for using our action and helping us improve it.

[2020-05-13 05:36] #30 closed

[2020-05-15 06:55] eaarora-ms commented on #5
@lynshi  Thanks for pointing it out.

@bruno-brant  @ardacetinkaya  As per the document here: https://github.com/Azure/login#configure-deployment-credentials
you have not added the  --sdk-auth flag to the create-for-rbac command. and hence the O/P is not in the correct format. Please add the flag.

Just tried it and it works fine.

[2020-05-15 06:55] #5 closed

[2020-05-15 07:01] eaarora-ms commented on #20
@ghstahl I am afraid I do not understand your query. With the Azure login Action, you can automate your workflow to do an Azure login using Azure service principal and run Az CLI and Azure PowerShell scripts. Are you facing any issue in using this action?

[2020-05-19 09:57] sdebruyn opened #33 "Error: Cannot find module '@actions/core'"
I get the following error message when trying to use this action

[code]

This is the relevant portion of my workflow:

[code]

[2020-05-19 10:02] sdebruyn commented on #33
Seems to happen on master, but not on v1.1

[2020-05-22 05:48] eaarora-ms commented on #33
@sdebruyn We do not check-in node modules on the master branch. Please use the releases branch.

[2020-05-22 05:48] #33 closed

[2020-05-31 17:17] Mikhail2k15 opened #34 "Failed every time SP has "special" character."
Login via Az module2m 32s
##[error]Error: The process '/usr/bin/pwsh' failed with exit code 1
        return ConvertTo-Json $output
***
  "Success": "true",
  "AzVersion": "1.7.5"
***
/usr/bin/pwsh -Command try ***
            $ErrorActionPreference = "Stop"
            $WarningPreference = "SilentlyContinue"
            $output = @***
            Clear-AzContext -Scope Process;
             Clear

[2020-06-08 12:46] ljtill commented on #20
Also experiencing this behavior, we're using Azure PowerShell process. Runs can vary from 30 seconds to 4 minutes to complete.

[code]

[code]

[2020-06-10 04:29] asranja commented on #20
@ljtill are you also facing this issue without the enable-AzPSSession: true option ?

[2020-06-10 04:31] asranja commented on #24
Can you give more context regarding the action that you are using and the operation that you are trying to perform ?

[2020-06-10 04:32] asranja commented on #27
We are already masking the secrets in the action. Did you find out any specific case where we have secrets leaking on the cmdline ?

[2020-06-11 01:21] anwather commented on #20
@asranja I have this issue as well and enable-AzPSSession is true. For me it taking over 6 minutes to log in.

[2020-06-15 09:17] aksm-ms commented on #34
Issue is fixed in PR.

[2020-06-16 11:24] #34 closed

[2020-06-18 10:53] keaaa commented on #20
I am also facing the same issue with login 1.1
_enable-AzPSSession=true_ it took over 7 min
_enable-AzPSSession=false_ it took 14 sec

[2020-06-29 19:43] mikaelweave opened #39 "Feature Request: Ability to Pass Authentication Parameters Individually"
It would be great if this action allowed passing in the Subscription ID, Tenant ID, Client ID, and Client Secret as individual parameters instead of bundled in a single JSON object (`creds` today). This would allow for easier use in pipelines that use Terraform (as it requires them split out). It would also make secret rotation easier as you don't have to rebuilt the JSON object.

Potential syntax

[2020-07-02 05:18] ds-ms commented on #27
https://github.com/Azure/k8s-create-secret/issues/3

You could check this thread for more info

[2020-07-14 09:24] aksm-ms commented on #24
Closing this issue, please reopen if needed. Please provide additional info to debug further.

[2020-07-14 09:24] #24 closed

[2020-07-14 10:00] aksm-ms commented on #8
@justinyoo Please update your workflow as follows:

- name: Login to Azure
  uses: Azure/login@v1
  env:
    CREDENTIALS: ${{ secrets.AZURE_CREDENTIALS }}
  with:
    **creds: ${{ env.CREDENTIALS }}**

Reference - https://docs.github.com/en/actions/reference/context-and-expression-syntax-for-github-actions#env-context

[2020-07-14 11:22] justinyoo commented on #8
@aksm-ms Thank you!

[2020-07-14 11:22] #8 closed

[2020-07-14 11:23] justinyoo commented on #8
I confirm the parameter has been introduced.

https://github.com/Azure/login/blob/ed39f6a8e2e82929e9fb7203ba551f89379e2545/action.yml#L4-L5

[2020-07-20 11:50] aksm-ms commented on #27
@ds-ms Currently az cli does not have a way to handle this. Environment variables are not supported for authentication and there is no way to login using file. The only way to login using service principal is using :

https://docs.microsoft.com/en-us/cli/azure/authenticate-azure-cli?view=azure-cli-latest#sign-in-with-a-service-principal

[2020-07-22 19:07] hydrocortisone commented on #8
But this mistake is in docs everywhere...

[2020-07-26 16:14] walzph opened #42 "Symbols in az-cli generated clientSecret breaks login"
Following [this](https://docs.microsoft.com/en-us/azure/container-instances/container-instances-github-action) guide, most people probably just copy&paste the JSON output generated by the service principal creation via _az-cli_ to their Github secrets.

However the generated _clientSecret_ often contains symbols which must be escaped in order to work in the `az login` command performed in the Gith

[2020-07-31 09:08] arjgupta commented on #42
@walzph thanks for reporting the issue. We will add logic to escape special characters in client secret.

[2020-08-03 02:56] aksm-ms commented on #42
@walzph Can you please paste the error logs and also the logs after escaping the secret here?

[2020-08-05 23:22] sebastiangonsal opened #43 "Adding creds for an existing service principal"
How do i get creds for an existing service principal? The example to get the creds json creates a new principal.

If i do something like :
```az ad sp show --id {app-id}```
I get a json that does not have client secret .

[2020-08-06 13:54] iornstein commented on #29
Is there any sort of work around to add "--allow-no-subscriptions" for the time being?

[2020-08-10 01:17] arjgupta commented on #43
@sebastiangonsal there is no way to view the client secret. But you can go and create a new secret for the service principal. go to the Azure Portal. Search for 'App Registrations' resource. then search for the client id that you want to set secret for. The page should show you the Service Principal. Click on the service principal. From the blade on the left side, go to the 'Certificates & Secrets

[2020-08-10 01:17] #43 closed

[2020-08-18 22:57] jjescobaruni opened #44 "Unable to modify network-rule"
Hi!
I am posting this issue because I am getting the following error since I added into my working Github action workflow an additional step to modify the network-rule of my storage account before uploading the files in order to allow the runner IP:
[code]
So my workflow was previously like this:
[code]

And now I just have added the first following step:
[code]

I am aware that this might be beca

[2020-08-19 14:29] marvinbuss opened #45 "v1 Tag was not updated"
v1 tag should always link to the latest v1.X version. Currently, we have to specifically select v1.1.

[2020-08-20 21:26] brettcannon opened #46 "Docs on creating credentials misleading when not doing a Logic app"
When I tried to run the example `az ad` command I followed the example and `--name "GitHub Actions"` failed as the name isn't for the token but for a Logic app. So maybe drop `--name` from the example?

[2020-08-21 14:37] harjas27 opened #47 "Update the "secrets" url in README"
In the README.md file, the url for creating and using encrypted secret variables is not correct.
The link points to https://docs.github.com/en/actions/reference/virtual-environments-for-github-hosted-runners#creating-and-using-secrets-encrypted-variables
But should be updated to https://docs.github.com/en/actions/configuring-and-managing-workflows/creating-and-storing-encrypted-secrets

[2020-08-24 05:44] AmrutaKawade commented on #46
yes. with --name option, service principle will be created with access to only that application within resource. if you want to access all applications within resource you can skip --name option.

[2020-08-25 10:40] N-Usha commented on #47
Thanks @harjas27 and @johnlokerse for raising the issue and helping us fix this too. Really appreciate 👍

[2020-08-25 10:40] #47 closed

[2020-08-25 10:42] N-Usha commented on #46
@brettcannon - Hope your query got answered. Closing the issue. Thanks again for reaching out out to us.

[2020-08-25 10:42] #46 closed

[2020-08-25 10:43] N-Usha commented on #45
@aksm-ms to confirm if this issue is already addressed.

[2020-08-25 11:21] aksm-ms commented on #45
v1 tag is pointing to the latest v1.X version.
@marvinbuss Can you please update the issue where you came across this case?

[2020-08-25 16:46] brettcannon commented on #46
It did answer my question, but the README is still a bit misleading in how the example for generating credentials lists `--name` as part of it but doesn't mention it's an optional aspect to it.

[2020-08-26 08:12] N-Usha commented on #46
Thanks for pointing that out @brettcannon. I enhanced the Readme file to explain the part further. Hope it helps.

[2020-08-28 10:58] AmrutaKawade commented on #44
just pass `--auth-mode login` to your both the az storage blob commands. it will use your login credentials.

[2020-08-31 19:26] jjescobaruni commented on #44
Hi! I updated the steps like this:
[code]
However the error is still coming from the first one. As I said, the IP is added correctly, but know the error has changed to:
[code]

[2020-09-07 06:57] marvinbuss opened #49 "Login Action backend is not up to date"
Please keep the backend up to date, so that users are not receiving these messages:

`Please let us know how we are doing: https://aka.ms/azureclihats
and let us know if you're interested in trying out our newest features: https://aka.ms/CLIUXstudy
You have 3 updates available. Consider updating your CLI installation with 'sudo apt-get update && sudo apt-get install --only-upgrade -y azure-cli'. D

[2020-09-11 06:57] aksm-ms commented on #49
@marvinbuss can you please share the workflow used?

[2020-09-17 11:00] AmrutaKawade commented on #44
Can you check if you have **Storage Blob Data Contributor** role. Run `az role assignment list` before all storage commands

[2020-09-22 22:32] bhlaban commented on #11
We could use this our current government customers - Is there an update on this issue?

[2020-09-23 08:47] N-Usha commented on #11
Thanks @bhlaban for following up. We will be working on support for sovereign cloud support in the new few weeks. We will update this thread as the feature is available. Thanks!

[2020-09-23 08:47] #11 closed

[2020-09-24 01:26] mattruma commented on #20
It consistently takes an average of 3 minutes to complete the login.

[2020-09-24 02:59] aksm-ms commented on #20
we are looking into the issue.
@mattruma is login taking average 3 minutues when enable-AzPSSession=true?

[2020-09-24 12:10] mattruma commented on #20
Hi @aksm-ms! Yes ... I have enable-AzPSSession=true, if you want to see how I am doing my workflow take a look at https://github.com/mattruma/MJR068/blob/master/.github/workflows/develop.yml#L17.

[2020-09-28 07:08] jdelforno opened #56 "Self-Hosted Github Runner in Azure VM using Managed Identity"
Thanks for your efforts on writing this!

Is it possible to add support for Managed Identities using a self-hosted github runner in an Azure VM / Container?

As the Action already uses Az Module, I'd hope it'd be a simple switch to use MSI ala: https://docs.microsoft.com/en-us/powershell/azure/authenticate-azureps?view=azps-4.7.0#sign-in-using-a-managed-identity

Doing so would remove any potentia

[2020-09-29 12:13] aksm-ms commented on #49
@marvinbuss Can you please confirm if you are using Github hosted runner and if so, which one?

[2020-09-29 14:04] antst opened #59 "actionnis unreluable once azure is busy (endpoints busy euth requests?)"
Last night azure was busy somehow (for example, creation of service principals from az cli  would take few attempts, before succeed). And azure/login was completely unreliable. At least 9 out of 10 attempts would result in authorization not working for the same CI setup which was smooth few hours before. And if workflow has another authorization (k8s for example, which had last night the same prob

[2020-09-30 05:10] aksm-ms commented on #56
@jdelforno Thanks for the suggestion. I will mark it as enhancement and we will work on it.

[2020-09-30 06:16] marvinbuss commented on #49
I am not. I am just running it on GH. Just give it a try.

[2020-09-30 06:18] aksm-ms commented on #49
@marvinbuss Can you please share your workflow?

[2020-09-30 06:19] aksm-ms commented on #49
I understand your issue, need to your workflow to understand on which runners we need to update az cli.

[2020-09-30 06:23] marvinbuss commented on #49
I was using `ubuntu-latest`. Thanks for your quick reply.

[2020-10-02 01:08] harvey-k commented on #20
I believe the root cause is due to the way $env:PSModulePath is configured.

The github action below is a standalone reproduction of the current issue. The second step can take several minutes to execute:

[code]

I've opened pull request #61 to set $env:PSModulePath based on the virtual-environment filesystem layout. I'd be happy to make any changes you'd recommend.

If these changes are approved

[2020-10-03 23:37] hugogirard commented on #49
I confirm, I am using the runner ubuntu-latest and using the action azure login and it takes 5 minutes.  This is too long, and I have this message showing up.

You have 3 updates available. Consider updating your CLI installation with 'az upgrade'

[2020-10-04 13:29] hugogirard commented on #49
It takes time only when the property enable-AzPSSession is set to true.

[2020-10-05 23:53] jakebailey opened #62 "set-env is deprecated"
I see this in my actions log when running this action:

It appears this action uses an outdated version of `@actions/core` (older than v1.2.6, at least). Can the dependency be updated and a new version published so that this action doesn't stop working when `set-env` is no longer supported?

[2020-10-06 15:01] pearcec opened #64 "Error: SyntaxError: Unexpected number in JSON at position 1"
I have tried this numerous ways. I have recreated my SP.  I cut and paste the values in to az login to verify.  I have altered my yaml to make sure I am inputting the values correctly.  But the best I can get is this "Error: SyntaxError: Unexpected number in JSON at position 1"

Here is what I have.

[code]

Example creds.

[code]

[2020-10-06 15:32] pearcec commented on #64
I removed the container as was able to successfully log in.  Here is the az version I am running.  Any thoughts?

[code]

[2020-10-06 16:24] pearcec commented on #64
Upon deeper inspection it looks like it is related to the Azure PowerShell Authentication.  Which I need.

This is the error:
Azure PowerShell Login failed. Please check the credentials. For more information refer https://aka.ms/create-secrets-for-GitHub-workflows"

[2020-10-06 17:02] pearcec commented on #64
Starting to see more in the logs.  Guessing this is where the json error is coming from.

[code]

[2020-10-07 11:08] mgrabarz commented on #62
I think there is already PR to fix that: https://github.com/Azure/login/pull/60

Likely we need to Release v1.2 so everyone can use it in their workflows.

[2020-10-07 12:54] pearcec commented on #64
Looks like it gets the version and success is true.  Not sure why it can't parse it.  Not sure where the *** coming from, if that is just noise from github actions logging.  It must be successfullly logging in with az login to reach that error message.

2020-10-07T12:34:01.0946293Z Azure Context:
2020-10-07T12:34:01.0960827Z
2020-10-07T12:34:01.2299594Z ***
2020-10-07T12:34:01.2300374Z   "AzVersio

[2020-10-07 13:10] pearcec commented on #64
I never get this debug message https://github.com/Azure/login/blob/73efa776b56411e38afea0a5818a6ad840831231/src/PowerShell/ServicePrincipalLogin.ts#L27, so I assume the exception is getting thrown here https://github.com/Azure/login/blob/3ec3e73a1c7063139ff7323c1972430e168dea04/src/PowerShell/Utilities/Utils.ts#L46 cause of the Parse error.

[2020-10-07 14:28] pearcec opened #65 "Developer guide?"
Would it be possible for someone to write up a quick developer guide?

[2020-10-08 18:39] apclouds commented on #62
Hi @mgrabarz will this change the name of command "set-env"? We are working on a learn module using this in one of our example and would like to know before we publish.

[2020-10-08 18:49] jakebailey commented on #62
`set-env` is a detail of GitHub Actions; they have a new method to set environment variables that doesn't involve printing to stdout. See: https://github.blog/changelog/2020-10-01-github-actions-deprecating-set-env-and-add-path-commands/

This doesn't affect actions that use the `@actions/code` library; the library itself now uses the new method and an upgrade to this action's dependency is all th

[2020-10-08 21:16] mgrabarz commented on #62
@apclouds as Jake mentioned, `@azure/login` action is simply using the old version of core.exportVariable function from `@actions/core`.
Bumping library will stop producing this warning in logs.

See e.g.: https://github.com/Azure/login/blob/master/src/main.ts#L21

[2020-10-11 14:17] justinyoo commented on #20
I've got the same issue when I use the PowerShell login. Without enabling the AzPSSession option, it took for a few secs as expected. However, if I enabled the AzPSSession option, it took more than 5-6 mins.

[2020-10-11 14:41] justinyoo commented on #20
As a workaround, I use the following combination of actions, which is much quicker (around 30-40 secs).

[code]

[2020-10-12 06:55] aksm-ms commented on #65
@pearcec Can you please explain what is the developer guide you are looking for?

[2020-10-12 09:35] AmrutaKawade commented on #62
This is fixed #60 use tag v1

[2020-10-12 09:35] #62 closed

[2020-10-12 11:01] aksm-ms commented on #44
Closing the issue. Please feel free to open for any further queries.

[2020-10-12 11:01] #44 closed

[2020-10-12 15:52] apclouds commented on #62
Thanks for the detail!

[2020-10-13 06:18] aksm-ms commented on #64
@pearcec can you please share debug logs? To get debug logs, create secret "ACTIONS_STEP_DEBUG" with value "true" in the repo where workflow is configured.

[2020-10-16 10:48] Ganeshrockz opened #70 "Does the action support SPN inputs created at a management group scope?"
The action looks like accepting a required `subscriptionId` as an input whereas the same will not hold true in case of SPNs created at a management group scope. ADO based service connections accept a management group Id in such scenarios. Is this scenario supported by the action or is this something that needs to be considered as an enhancement to the current behavior?

[2020-10-19 04:28] nadesu commented on #70
@aksm-ms - pls revert on this query

[2020-10-19 07:52] aksm-ms commented on #70
@Ganeshrockz Currently action only supports "subscription" scope. Adding management scope can be taken as enhancement and we will work on it.

[2020-10-19 08:23] zainuvk opened #71 "azure/login@v1.1 doesn't work with SPN created in Azure Gov Cloud"
GitHub Actions with  Azure Gov Cloud doesn't seems to be working with SPN.The error it shows is while logging  with SPN details.
![image](https://user-images.githubusercontent.com/13005040/96419731-2ab2bc00-1212-11eb-86ed-b6edab433c5e.png)

This file would need a  change  to add support for az cloud set --name AzureUSGovernment
https://github.com/Azure/login/blob/master/src/main.ts

[2020-10-21 23:06] pearcec commented on #65
I wanted to fix bugs and build.  I was looking for a document that explains the process a developer would follow to build and run.

[2020-10-29 08:46] aksm-ms commented on #64
@pearcec Are you still facing the issue? Can you please share logs for debugging?

[2020-11-02 07:34] aksm-ms commented on #65
@N-Usha Can you please take a look at this? Should we add a developer guide in this repo itself?

[2020-11-02 07:35] aksm-ms commented on #64
Closing the issue, not enough info to debug.

[2020-11-02 07:35] #64 closed

[2020-11-03 08:19] #70 closed

[2020-11-03 10:59] aksm-ms commented on #29
@iornstein if you want to use --allow-no-subscription, you can set input "allow-no-subscriptions: true". For inputs please refer [https://github.com/Azure/login/blob/master/action.yml](https://github.com/Azure/login/blob/master/action.yml)

[2020-11-03 11:05] aksm-ms commented on #29
Closing this issue since support is added now in v1 and can be used by adding input "allow-no-subscriptions: true" in workflow.

[2020-11-03 11:05] #29 closed

[2020-11-03 12:02] aksm-ms commented on #49
@hugogirard Regarding time taken for enable-AzPSSession: true, we are working on it.
@marvinbuss Thanks for reaching out. We are closing this issue as we have made required changes to address this.

[2020-11-03 12:02] #49 closed

[2020-11-04 05:34] aksm-ms commented on #65
@pearcec Thanks for suggesting this. We are looking into this internally and we will work on it.
In general, following are the steps to be followed:

1. Fork the repo
2. Pull the repo to your local on master branch
3. run "npm install"
4. add your changes to .ts files
5. add unit tests and build
6. To check if unit tests pass, run "npm run test"
7. To build files, run "npm run build"
8. Checkin .t

[2020-11-06 10:25] aksm-ms commented on #42
Issue is fixed in PR.

[2020-11-06 10:25] #42 closed

[2020-11-07 12:33] ricardojosegomezulmke opened #82 "set-env is deprecated"
Error: The `set-env` command is deprecated and will be disabled soon. Please upgrade to using Environment Files. For more information see: https://github.blog/changelog/2020-10-01-github-actions-deprecating-set-env-and-add-path-commands/

[2020-11-09 05:15] aksm-ms commented on #82
@ricardojosegomezulmke We have already addressed this issue. Are you facing this issue? If so, please send workflow and workflow log runs.

[2020-11-10 06:56] aksm-ms commented on #82
Closing issue since it is already fixed in action. Please feel free to reopen if you are facing any issues.

[2020-11-10 06:56] #82 closed

[2020-11-16 10:24] pjoe commented on #82
Seeing the same issue, using:

[code]

Gives following error ouput:

[code]

[2020-11-16 10:48] pjoe commented on #82
Ok, I solved it by changing to: `uses: azure/login@v1`

[2020-11-17 07:51] Satak opened #83 "`set-env` command is disabled"
Azure Login fails now with error:

[code]

Any workaround? Devs ahoy?!

[2020-11-17 08:03] Satak commented on #83
I tried to add env `ACTIONS_ALLOW_UNSECURE_COMMANDS: true` but it doesn't help.

[code]

[2020-11-17 08:38] aksm-ms commented on #83
@Satak i am using azure/login@v1 in my workflow and it is not throwing any error. If possible, can you please share link to workflow run/complete workflow file? If not, can you please share debug logs? Please create a secret ACTIONS_STEP_DEBUG and set it to true to get debug logs

[2020-11-17 10:06] walzph commented on #83
My workflow breaks too. It seems like Github disabled the `set-env` and `set-path` commands in its action runners just today (at least in Europe).

This is a security measure and was already announced on Oct 1, 2020 in the [CVE-2020-15228](https://github.com/advisories/GHSA-mfwh-5m23-j46w). However without a clear deadline ..

Although this project uses the latest `@actions/core v1.2.6`, the issue

[2020-11-17 10:09] sdebruyn commented on #83
My pipeline started failing today because of this. If you need an example: https://github.com/datarootsio/terraform-module-azure-datalake/actions/runs/367093870

[2020-11-17 10:19] aksm-ms commented on #83
@sdebruyn can you please update your workflow to use azure/login@v1? currently azure/login@v1.1 is being used

[2020-11-17 10:20] aksm-ms commented on #83
@walzph Are you using self-hosted runner? Also can you please share your workflow and debug logs?

[2020-11-17 10:32] walzph commented on #83
No, I'm not using a self-hosted runner.

[code]

[2020-11-17 10:34] walzph commented on #83
Just noticed, I'm using v1.1 too. Will switch to v1 and check again.

[2020-11-17 10:45] walzph commented on #83
I can confirm that switching to azure/login@v1 solved the issue for me.
[code]

Which means in turn, that my assumption was wrong and `core.exportVariable()` is safe to use :)

[2020-11-17 10:51] aksm-ms commented on #83
@walzph Thanks for checking.

[2020-11-17 10:52] aksm-ms commented on #83
@Satak Please let me know if you are still facing the issue.

[2020-11-17 19:18] Satak commented on #83
Updating to v1 helped. Issue can be closed.

[2020-11-18 04:09] #83 closed

[2020-12-03 15:35] AGASTINRAJ opened #86 "SAMPLE WORK"
https://foeat-my.sharepoint.com/:x:/g/personal/1837010047_foeat_onmicrosoft_com/EbgthNXb2xxApVwVn_jXXaMBeGXmOcqDJBc4ia3KobMzbw?e=DzjreM

[2020-12-03 15:35] AGASTINRAJ commented on #86
..

[2020-12-03 16:49] ericsampson commented on #39
We would really love this too. We have the same 4 separate secret setup as you @mikaelweave , used with Terraform : )
It would be awesome to not need duplicate secrets as JSON to pass into this Action.

[2020-12-03 17:42] harvey-k commented on #20
Would it be possible to get some feedback on pull request #61 in order to address this issue?

[2020-12-08 23:30] AllanXu49 opened #87 "How to do `az login --identity` ?"
Hello,

My self-hosted runner has Managed Service Identity (MSI) enabled.
According to this doc:
https://docs.microsoft.com/en-us/cli/azure/authenticate-azure-cli#sign-in-with-a-managed-identity

In a command prompt, I need to run `az login --identity`

How do I do the same with "GitHub Action for Azure Login"?

Thank you,

[2020-12-11 08:10] aksm-ms commented on #86
@AGASTINRAJ Please do not create issues in this repo which are not related to [Azure Login action](https://github.com/Azure/login/issues/86).

[2020-12-11 08:10] #86 closed

[2020-12-11 08:12] aksm-ms commented on #87
@AllanXu49 Currently azure login action does not support MSI. It is in our backlog and we will add support.

[2020-12-11 08:12] #87 closed

[2020-12-16 22:48] AllanXu49 opened #88 "Can I call az login CLI command instead of azure/login@v1?"
In my GitHub workflow, can I call az login CLI command instead of azure/login@v1?

If yes, then what is the advantage of azure/login@v1 over Azure CLI login?

Thank you,

[2020-12-21 07:35] arjgupta commented on #88
@AllanXu49 yes you can always directly run az login commands in your scripts in your workflow. With the login action, you get the advantage of logging in for both az cli and azure powershell and handling secrets. Also, if az login changes it's api, we will update the action to use the new api. If otherwise you are using a custom script to run az login, then you will need to handle these on your ow

[2020-12-21 07:35] #88 closed

[2020-12-22 08:13] arjgupta commented on #59
@antst az cli also performs retries of the request on its own. This seems like an extreme case where the login endpoint was facing some issue. And so it is possible adding retries from the action might not help too much. I am closing this issue. If you face this issue frequently, please feel free to reopen and we can further investigate it.

[2020-12-22 08:13] #59 closed

[2020-12-27 08:24] SuperHarmony910 commented on #8
Ohhh, so not just pasted in as XML from the publishProfile file

[2021-01-05 11:37] aksm-ms commented on #71
Added support in azure/login@v1 for Sovereign clouds.

[2021-01-05 11:37] #71 closed

[2021-01-07 00:16] JAlvarezMSI commented on #20
@aksm-ms Is there any update or timeline on this, having the potential of time wasted on logging in has caused us to not even want to use this action

[2021-01-19 16:21] reilem opened #95 "Confusing credentials docs"
The credentials docs gives the first impressions that this action only works with web apps, by making it seem that `{app-name}` is a mandatory field. However it is only much further down that you specify that you can omit everything in the scope after `providers`. Not everyone uses az-cli for web apps, some use it for settings specific metadata or uploading things to storage accounts. Please leave

[2021-01-20 04:24] aksm-ms commented on #95
@N-usha Can you please take a look at this?

[2021-01-20 05:01] aksm-ms commented on #95
@reilem Please raise a PR.

[2021-01-22 13:24] #95 closed

[2021-02-05 16:58] mudunuax commented on #56
Hi. Can you please share any timeline, if there is, on when this enhancement will be merged to the master?

[2021-02-10 14:37] 20shivangi commented on #65
@N-Usha Please take care of the documentation for the above.

[2021-02-14 12:31] kmkumaran commented on #39
The reason the login Action took the [credential parameters\(https://github.com/Azure/login/blob/master/README.md#configure-deployment-credentials) as single Json is with the expectation that the getting started experience for users will be simplified with just one copy / paste of command line output as against multiple user actions.

It appears with Terraform, the need is to have them independent

[2021-02-15 14:04] ericsampson commented on #39
Thanks @kmkumaran 👍

[2021-02-15 14:20] azooinmyluggage commented on #39
One other reason was to use the output of the az ad sp create-for-rbac command as an input. Both arguments at the end are for keeping it simple for end user.

But looking at the description by @ericsampson and the up votes, this needs to change.

@ericsampson we are open to PR.  How can we solve it gracefully? Two potential guidelines are:
1. Only one set of credentials work. Is there any preceden

[2021-02-15 16:03] ericsampson commented on #39
Here's a proposal that might address all those questions, and is still simple for the new user; these 4 individual inputs would be for more advanced users.

- existing `creds` input works as it does now (except that it's optional)
- add the following 4 new inputs, with the `creds_` prefix to help indicate that they are related to the creds JSON blob:

[code]

- _Key point: any `creds_` input overr

[2021-02-16 10:07] azooinmyluggage commented on #39
@N-Usha and @kaverma can you please take a look? Looks good to me.
Thanks @ericsampson

[2021-02-16 10:33] kaverma commented on #39
Thanks, the proposal looks good to me as well.

[2021-02-16 12:23] ericsampson commented on #39
Thanks all! 🥳

[2021-02-17 03:22] kmkumaran commented on #39
With creds becoming an optional parameter, the Action should check for at-least one of the two inputs given as part of parameter validation.

[2021-02-17 03:23] N-Usha commented on #39
Thanks @ericsampson . I liked your idea of supporting both options together... and also creds_ overriding creds if both are provided.
we need to however validate that this new creds_ option covers all the functionality that we support today including support for govt clouds, Azure stack and Support for Az PowerShell. Also today SPN scoping for resource group is also possible using the creds json o

[2021-02-18 22:38] ericsampson commented on #39
Hi @N-Usha , I won't have time to implement this. I'm already working on other OSS PRs for various repos. Cheers

[2021-02-20 00:28] aaronba commented on #11
Thanks for adding this support.  It makes a huge difference to our Sovereign cloud customers.

[2021-02-22 10:30] ljtill commented on #20
Any updates on this issue, still encountering 3m 30s completion times?

[2021-03-04 16:18] HammadKamran commented on #20
Can we get an update on the performance issue? It takes up to 5-6mins on avg.

[2021-03-05 12:35] allanmo79 commented on #20
update, have the same problem takes 3-4 minutes to login, with "enable-AzPSSession: true"

[2021-03-13 17:26] maisoenaingtun commented on #65
Support {{#each}}-{{else}}

[2021-03-15 21:01] MinhTraHong opened #98 "There was an error fetching tenants"
I have nightmare with Azure portal login. I reveiced that message and there is nothing in my Azure portal blade, my resource group, MySql DB, function app, Ad, ...

The error happen on my own account and company account. I always separate these accounts with 2 browsers.

Detail:
There was an error fetching tenants. Please reload the portal to try again. If you wish to switch tenants, you can sign

[2021-03-16 06:27] ds-ms commented on #98
It could be due to Azure Active Directory outage declared about 10 hours ago.
Check out this tweet by Azure Support: https://twitter.com/AzureSupport/status/1371544292502564866?s=20

[2021-03-17 07:24] maisoenaingtun commented on #98
{{/ https://twitter.com/AzureSupport/status/1371544292502564866?s=20}}
{{/ https://portal.azure.com/tenantdomain.com}}

[2021-03-17 07:26] maisoenaingtun commented on #98
{{There was an error fetching tenants #98}}

[2021-03-17 07:27] maisoenaingtun commented on #20
{{Login consistently takes 30s-60s to complete #20}}

[2021-03-17 16:14] mmisztal1980 commented on #20
I can confirm the above 3-4min average

[2021-03-24 05:03] jachin84 commented on #20
We are also experiencing this issue. It seems like there is a PR waiting that fixes this issue. What's the hold up?

[2021-03-24 17:29] aidaDiazFdez opened #100 "Azure Portal - No update Customer Managed Keys option"
When updating the encryption via poweshell command (Set-AzCognitiveServicesAccount -ResourceGroupName $rsg -name $name -KeyName $key -KeyVersion $version -KeyVaultUri $uri) it is not updated in the portal to the Customer Managed Keys option.

if you check the ARM Template if it is correctly configured or if you check it via command.
![Evidence](https://user-images.githubusercontent.com/40237415/11

[2021-03-31 04:48] kaverma commented on #65
Fixed the issue with PR #99

[2021-03-31 04:48] #65 closed

[2021-03-31 05:27] kaverma commented on #98
Closing this as there was an AAD outage at that time. Please reply or comment if you still see issues. Thanks

[2021-03-31 05:27] #98 closed

[2021-04-13 13:35] abbasalwash commented on #20
We also experience the same problem. Is there a update for this issue?

[2021-04-14 16:55] brwilkinson commented on #20
Adding comment to track this issue. it might be nice if you could nominate a small list of the AZ modules to install on top of AZ.Accounts, instead of installing the whole AZ module list... Will have to do some testing.

[2021-04-15 06:09] kaverma opened #102 "A test issue to validate ChatOps"

[2021-04-15 06:11] #102 closed

[2021-04-16 10:22] joloEqui opened #103 "Downloading action repository to self-hosted runner takes 2.5 minutes"
Every time I run my workflow on my self-hosted runner it has to redownload the whole action repository which takes 2.5 minutes. This is the step in my workflow log: Download action repository 'azure/login@v1'.

I am not sure if this is a more general issue in GitHub Actions, where the action repository is redownloaded every time even if it is the exact same version being used each run. But since t

[2021-04-21 14:44] jludvice opened #104 "azure/login@v1 and azure/CLI@v1 should be consistent"
Please align `azure/login@v1` and `azure/CLI@v1`. It's really strange and not user friendly.

Given workflow where I first use `azure/CLI@v1` to show current az version and then use `azure/login@v1` it behaves quite weird.

`az version` actually shows latest version because this action actually pulls and runs microsoft docker image with azure cli,
but then the `azure/login@v1` action fails because

[2021-04-21 14:47] jludvice commented on #104
[code]

[2021-04-21 22:14] AlexDHoffer commented on #104
This is happening to me as well on my self-hosted runner. It is bizarrely challenging to use these simple features.

[2021-04-23 08:38] johanclasson commented on #103
When checking the downloaded files at `_work\_actions\Azure\login\v1` I can see that the `node_modules` folder is part of the plugin.

Can you consider compiling in the dependencies that is needed so that the `node_modules` does not need to be downloaded? The GitHub docs ([ref.](https://docs.github.com/en/actions/creating-actions/creating-a-javascript-action#commit-tag-and-push-your-action-to-gith

[2021-04-26 09:10] anatbal commented on #39
Hey @BALAGA-GAYATRI, @N-Usha ,
We have come across this issue and considered contributing. Are you currently actively working on it? If you are open to PRs, we are available and we'd love to help with it.

[2021-04-26 10:39] joloEqui commented on #103
Btw, my solution was to just use az cli to login instead of the login action.

[2021-04-27 07:38] anatbal commented on #39
@ericsampson , have you tried this workaround?  This way you don't need to duplicate secrets as JSON and just use your existing vars.
[code]

[2021-04-27 10:58] orenzi-tr commented on #104
I also had this issue running on a windows Github self-hosted runner.
I managed to get it to work by changing the Github-runner server "Log On" as setting to run under a local user account instead of running as Local System.

This isn't an ideal solution on my part, so I guess its something with windows PATH issue if it can't find the executable.

[2021-04-27 15:31] ericsampson commented on #39
@anatbal good idea, I can't recall if we did.

This doesn't end up printing out the secrets in the build log does it?

Being able to pass them as individual params is easier for people to use, but it's good to have a workaround until then. Cheers :)

[2021-04-28 13:21] jmservera commented on #39
I would also prefer to use individual secrets due to this potential issue as noted in the [GitHub Documentation](https://docs.github.com/en/actions/reference/encrypted-secrets):

Any change in the tooling could potentially leak these secrets. In fact, if you try to "echo" the secret, it is not redacted by the platform. This should be documented as a risk when using the full json as a secret.

[2021-04-28 17:27] ericsampson commented on #39
Yeah, I always thought it was odd that this Action is designed to work in a way that GH's own documentation recommends as a security anti-practice.

Similarly wonky is the Azure App Service deploy Action, which uses an XML PublishProfile (containing secrets) and recommends storing it as a GH secret, contrary to GH advisory.

It would sure be nice if the two companies, being under the same banner,

[2021-04-29 01:11] swethmandava opened #107 "Az CLI Login failed"
[code]

My github action fails with the above error! what am i missing ?

[code]

[2021-04-30 10:13] BALAGA-GAYATRI commented on #107
@swethmandava can you check if you are generating credentials using these steps mentioned here. https://github.com/Azure/login#configure-deployment-credentials

[2021-05-04 21:47] nd185089 opened #109 "Trying to use it but it is failing"
Run Azure/login@v1
  with:
    creds: ***
    enable-AzPSSession: false
    environment: azurecloud
    allow-no-subscriptions: false
C:\Windows\system32\cmd.exe /D /S /C ""C:\Program Files (x86)\Microsoft SDKs\Azure\CLI2\wbin\az.cmd" cloud set -n azurecloud"
Done setting cloud: "azurecloud"
Error: Az CLI Login failed. Please check the credentials. For more information refer https://aka.ms/create-

[2021-05-07 05:13] BALAGA-GAYATRI commented on #109
@nd185089 resourceManagerEndpointUrl is a part of the credentials in the secrets.  Please check and confirm if this is how you are generating credentials https://github.com/Azure/login#configure-deployment-credentials

[2021-05-10 09:22] BALAGA-GAYATRI commented on #109
@nd185089 any updates on this?

[2021-05-10 09:23] BALAGA-GAYATRI commented on #107
@swethmandava any updates on the above fix?

[2021-05-10 16:37] nd185089 commented on #109
Yes, its working now

[2021-05-10 16:37] #109 closed

[2021-05-12 16:58] joelverhagen opened #111 "Certificate based auth"
Azure AD app registrations show two credential mechanisms in Azure Portal: client secret (supported today with `clientSecret`) and certificate. It would be great to support both. in this GitHub Action.

I'm envisioning a `clientCertificate` property where the content is the base64 encoded certificate content (PEM/PFX).

The benefit of this approach is that certificates are a strong form of credent

[2021-05-17 04:35] BALAGA-GAYATRI commented on #107
We are assuming the  fix worked. closing this issue.

[2021-05-17 04:35] #107 closed

[2021-05-17 16:25] bryantson opened #112 "Need a way to enable detailed log for the failure " Az CLI Login failed" The process ‘/usr/bin/az’ failed with exit code 1`"
When I run an Azure Login (azure/login@v1) command through a GitHub Action pipeline, and it fails with the following log message and it does not tell much what is happening:

`/usr/bin/az cloud set -n azurecloud
13Done setting cloud: “azurecloud”
14Error: Az CLI Login failed. Please check the credentials. For more information refer https://aka.ms/create-secrets-for-GitHub-workflows
15Error: Error:

[2021-05-24 13:35] charlie-normand commented on #111
Some organisations insist on certificate auth, except by exception (a convoluted process in an enterprise).  Would be great to have this so we can start using Github actions

[2021-05-25 18:38] doug-papenthien-by opened #113 "Recommended credential configuration causes unnecessary masking in GitHub logs"
The recommended way of configuring the GitHub secret to contain the Azure credentials results in GitHub masking all output containing curly braces.  For multi-line secrets, GitHub treats each line of the secret as sensitive (which makes sense when you think about it).

So specifying credentials like this...
[code]

...will instruct GitHub that `{` and `}` are sensitive.  Anything you echo out to t

[2021-06-03 23:27] dstratman-fi opened #117 "Azure login action does not mention 'logout' 'cache purge' or 'account clear' actions"
Hi GitHub Azure login team,

Just looking to see if the documentation could be updated to discuss whether any logout / cache purge / & account clear actions are needed after using this marketplace GitHub action.  We just want to be sure that the GitHub action (when run from a github hosted runner or a self-hosted runner) needs to have any of the login data cleared / purged related to the login for

[2021-06-11 19:43] tobiasdiez opened #118 "Cannot access database after enabling "Deny public network access""
If you set "Deny public network access" to "True" under "Connection security" in Azure Portal for a postgres database, then this login action no longer grants access and one can no longer reach the database.

[2021-06-15 14:14] deepend-dev opened #119 "Azure login takes ~ 3.50 minutes which is too long for simple login.."
Below snippets hold the session for almost 4 minutes -

[code]

It has probably happening because of  ` $data = Get-Module -Name Az.Accounts -ListAvailable | Sort-Object Version -Descending | Select-Object -First 1 ` .

May be we can use a container which already has Az module installed so it doesnt take that long to download Az.Account module?

[2021-06-16 06:16] BALAGA-GAYATRI commented on #112
@bryantson  can you try adding a secret **ACTIONS_STEP_DEBUG** and set the value **true** and see if it helps debug the issue.

[2021-06-16 06:57] BALAGA-GAYATRI commented on #118
@tobiasdiez can you show post your workflow here for better understanding and would recommend you to try adding a secret **ACTIONS_STEP_DEBUG** and set the value **true** and see if it helps debug the issue.

[2021-06-16 07:10] tobiasdiez commented on #118
Thanks for your response. You can find the workflow here: https://github.com/JabRef/JabRefOnline/blob/main/.github/workflows/deploy.yml The secerts are of the form
[code]
(with the ids as shown in the azure portal) and
[code]

With "Deny public network access" set to true and "Allow access to Azure services" to No, the workflow fails: https://github.com/JabRef/JabRefOnline/runs/2814046385?check_su

[2021-06-16 08:44] BALAGA-GAYATRI commented on #118
Here are the few insights.

1. This repository's issues deals with only **Azure/login** action. As I could see in both the cases **login** was successful which clearly indicates the issue is not with this action.
2. For updating the database you are using  `yarn prisma:migrate:deploy `which is not an action. We recommend you using [azure-postgresql-action](https://github.com/marketplace/actions/az

[2021-06-16 08:44] #118 closed

[2021-06-16 11:48] tobiasdiez commented on #118
Thanks for the clarification. I was under the impression that the azure-login action should give access to one's resources. But you are right, the firewall rule is only added in the database-related azure actions, e.g. in https://github.com/Azure/postgresql/blob/3ff351152c0c93c1bba9769cc6cbc462ed685e89/src/main.ts#L25-L29

Since the azure-postgresql-action is not flexible enough to run arbitrary c

[2021-06-17 05:08] kanika1894 commented on #100
Hey @aidaDiazFdez, the login action just authenticates a user to Az cli / Powershell.
Are you saying that using this action, you are unable to get authentication on Powershell?

[2021-06-17 06:02] aidaDiazFdez commented on #100
I get authentication and it is shown to me in the ARM Template, but it is not shown visually in the portal.

[2021-06-17 11:40] BALAGA-GAYATRI commented on #113
@doug-papenthien-by  Thank you for the suggestion! updated readme

[2021-06-17 11:40] #113 closed

[2021-06-19 09:52] mathiaspet commented on #112
Hi,
the secret produces way more output but unfortunately nothing w.r.t. error above. I'm stuck at the same point

[2021-06-19 09:58] mathiaspet opened #122 "login action would not accept my AZURE_CREDENTIALS secret"
Hi,

I'm working on a subscription where I cannot create SPs myself due to access restrictions. Thus, I cannot just copy the json produced by the `az ad sp create-for-rbac`  cmd. However, I have access to the registered app, subscription etc. So built the json myself. I added it as a gh secret and used the login action.

Fails with
`Error: Az CLI Login failed. Please check the credentials. For mor

[2021-06-21 03:56] BALAGA-GAYATRI commented on #122
Hi @mathiaspet  ,
So the basic format of credentials secret generated after using this command `az ad sp create-for-rbac` looks like this.
[code]
for this action, the first 5 fields of this json are mandatory. Make sure you configure them correctly. It is possible to use handcrafted credentials as long as they are working.
Hope it helps!

[2021-06-21 03:56] #122 closed

[2021-06-21 05:11] BALAGA-GAYATRI commented on #112
@mathiaspet  your issue addressed in  [#122](https://github.com/Azure/login/issues/122#issuecomment-864706045).

[2021-06-21 05:11] #112 closed

[2021-06-21 09:02] BALAGA-GAYATRI commented on #117
Hi @dstratman-fi ,
Thanks for the insights! We have added [documentation](https://github.com/Azure/login#az-logout-and-security-hardening) for this.  Hope it helps!

[2021-06-21 09:02] #117 closed

[2021-06-22 14:20] dstratman-fi commented on #117
@BALAGA-GAYATRI  - thanks for the excellent update and the update to the docs.  That helps tremendously.  We have the need for both requirements (github-hosted runners and self-hosted runners) so your update was very helpful.  We were using the logout, purge, and account clear as 'just in cases', but this helps to level set when it is needed and when it is not as well as a way to do it though the

[2021-06-23 06:47] BALAGA-GAYATRI commented on #100
Can you share your workflow here?

[2021-06-23 06:47] BALAGA-GAYATRI commented on #100
@aidaDiazFdez
Can you share your workflow here?

[2021-06-23 06:50] kanika1894 commented on #100
Since the authentication is successful, the issue might be with the script that is being used to perform the action.
The scope of login action is just to provide authentication as happens when we use Az cli command to login.

[2021-06-23 13:59] matsest commented on #20
This is *still* an issue.

Any updates @aksm-ms @asranja?

[2021-06-24 21:45] tobiasdiez commented on #118
How should we go forward with this? Should I open an issue at the azure-postgresql-action to be able to run arbitrary commands (and not only sql scripts), or are you considering to implement the firewall rule in the azure-login-action? In the latter case, this issue should perhaps be reopened.

[2021-06-25 09:44] BALAGA-GAYATRI commented on #118
Hey @tobiasdiez . [Azure/cli](https://github.com/Azure/cli) action does something similar to your requirement where it takes inlinescript as an input parameter which has the commands you wish to execute on CLI. Let's know if it helps!

[2021-06-25 12:51] tobiasdiez commented on #118
Please correct me if I'm wrong, but the purpose of the Azure CLI seems to be to manage azure resources. In my context, I want to run a script that based on the state of the repository modifies the postgresql database. In particular, the script should run in the context of the github action (to access everything that is in the repo) and not on Azure. I only need a secure way to access the database.

[2021-06-25 14:30] oscardalmau-r3 opened #126 "Login action failing because of Azure credentials secret"
Hi,

I am trying to use the az login action on the ubuntu GH runner but I am getting the following error:
Error: Az CLI Login failed. Please check the credentials. For more information refer https://aka.ms/create-secrets-for-GitHub-workflows
Error: Error: Error: The process '/usr/bin/az' failed with exit code 1

The SP that I have to use was already created, so I have manually created the format f

[2021-06-25 14:59] oscardalmau-r3 commented on #126
It was my fault. Closing this.

[2021-06-25 14:59] #126 closed

[2021-06-29 11:12] MaciejBoguta commented on #126
what was the fault about? got the same error and I am sure the credentials are fine since they're also used in the same workflow to authenticate within terraform

[2021-07-01 13:41] LauraFoulquier commented on #111
Hi,
Is there any update on this ticket ?

Thanks !

[2021-07-06 22:04] oallard commented on #20
This is still an issue. Thank you.

[2021-07-06 23:28] jdelforno commented on #56
That's a great step forward though. Especially with the Github Branch / Environment with secret protection in place.

[2021-08-02 13:38] khalidiml commented on #104
I am also facing this problem. I have checked the credentials. The creds are valid.
[code]

[2021-08-10 08:54] kanika1894 commented on #100
@aidaDiazFdez were you able to progress?

[2021-08-26 07:08] jysummers opened #133 "Az CLI Login failed"
I am getting this error:

![image](https://user-images.githubusercontent.com/54165586/130912173-e09d5f15-0387-4524-a9b5-90711889ade4.png)

I am using AZURE_CREDENTIALS in workflow and even generated a new client secret that I pasted to Github but the login still fails.

![image](https://user-images.githubusercontent.com/54165586/130915309-2d1caceb-159c-4edc-ac1f-57ac11497674.png)

![image](https:/

[2021-08-26 21:27] #133 closed, assigned to nobody

[2021-09-03 16:56] dkirrane commented on #119
I have same issue. In my case it's consistently > 1min to login
[code]

[2021-09-10 12:00] allanmo79 commented on #119
have the same problem, any news?

[2021-09-10 13:37] deepend-dev commented on #119
None ..

[2021-09-13 19:32] IronSean commented on #126
@oscardalmau-r3 I'd also like to know what the issue was in case it's my issue too.

[2021-09-14 18:33] olguin opened #143 "Login failed Please check the credentials - Error: Input required and not supplied: creds"
I am defining a github action to build and deploy azure functions when a new PR is created.

So if in the github action I use the trigger
on [push]

When the action is fired it works okay.

BUT if I change the action main.yml file, so that the build/action is triggered
on [pull_request]

The az login step fails with the error:

**Error: Az CLI Login failed. Please check the credentials. For more i

[2021-09-15 14:19] andrewwiebe commented on #103
Yeah same issue, its 3 mins just to download the action every single run.

[2021-09-15 14:24] kanika1894 commented on #143
Hey @olugin, when you say:

What's the name of your secret? Just checking that it should be AZURE_CREDENTIALS and not secrets.AZURE_CREDENTIALS.
Can you please confirm about this?

[2021-09-15 14:44] olguin commented on #143
Hello @kanika1894 , I set the secret's name as defined in the documentation: AZURE_CREDENTIALS

I am only accessing it from the github workflow definition using secrets. AZURE_CREDENTIALS

[2021-09-15 16:02] kanika1894 commented on #143
@olguin, thanks for confirming.
The code snippet that you pasted from the workflow file seems to have indentation issues, can you fix those?

Ideally, with the details that you are providing, it should have worked. With the error message that you stated, the action doesn't seem to identify the secrets that you provided. Trying to figure out what could be the possible reason...

[2021-09-15 16:28] olguin commented on #143
Hi Kanika,

 in the github workflow file the indentation is as follow:

   - name: Login via Az module
      uses: azure/login@v1
      with:
        creds: ${{ secrets.AZURE_CREDENTIALS }}
        enable-AzPSSession: false

Also please do notice that it is not throwing an error when the "on" trigger is "push". Only if I change it to "pull_request"

[2021-09-16 16:52] andrewwiebe commented on #103
Do you have a quick code example of how you handled this?

[2021-09-17 06:28] kanika1894 commented on #143
Hey @olguin,

Ahhh! So there's the catch. When the workflow is triggered from a forked repository, they can't have access to the secrets.
More details [here](https://docs.github.com/en/actions/reference/encrypted-secrets#using-encrypted-secrets-in-a-workflow).
Instead of pull_request trigger, can yo please try  pull_request_target?

[2021-09-17 07:29] joloEqui commented on #103
Yep.

$Credential = ConvertFrom-Json($env:SERVICE_PRINCIPAL)
az login --service-principal -u $Credential.appId -p $Credential.password --tenant $Credential.tenant --allow-no-subscriptions

[2021-09-17 13:41] andrewwiebe commented on #103
Thank you very much for this. I will have to try this out using a github secret.

[2021-09-17 16:23] olguin commented on #143
Tried it, it worked!! @kanika1894, thank you!

I did noticed the documentation saying that secrets were not passed to forks but I was creating the same secret in my fork (we are part of the same organization than main repository) so I thought that will be enough and bypass this secret's restriction but it did not.

Thank you again, you can close this issue thread then because it is not an actual i

[2021-09-20 06:07] kanika1894 commented on #143
I understand. But the workflow gets executed in the scope of the base repository, so the presence of secrets in the forked repo doesn't help in the scenario.
Glad that your issue is resolved with the pull_request trigger.

[2021-09-20 06:07] #143 closed

[2021-09-20 09:23] kanika1894 commented on #100
Closing issue due to no update. Please free to open in case of any issue.

[2021-09-20 09:23] #100 closed

[2021-09-20 11:13] BALAGA-GAYATRI commented on #119
hey @deepend-dev, We used similar workflow which is taking **50s-1min** approximately to login with ps session enabled. PFA screenshots of multiple workflow runs and workflow file snippet.
<img width="1385" alt="Screenshot 2021-09-20 at 4 30 27 PM" src="https://user-images.githubusercontent.com/26038662/133992657-00b6688e-db61-411c-a0f2-2f698fb8671e.png">
<img width="1384" alt="Screenshot 2021-09-

[2021-09-20 20:20] dkirrane commented on #20
Still hitting this issue

[2021-09-23 12:21] tulsishell commented on #111
I'm sorry, the link under "these guidelines" is not working. Could you please update?
How are we to store the .pem certificate as Github secret again?

[2021-09-23 13:25] LauraFoulquier commented on #111
Hey @tulsishell, I have updated the URL, but in a nutshell:
- Convert your pfx certificate to .pem format. It should give you a "readable" file
- Copy the text from your .pem to a GitHub secret (plain text)

[2021-09-24 06:57] kaverma commented on #39
@BALAGA-GAYATRI , can you please have a look at this PR and see if we can merge and release the same? https://github.com/Azure/login/pull/108

[2021-09-24 07:35] BALAGA-GAYATRI commented on #20
Closing it as this seems to be a duplicate of another performance issue on the action.
Please refer the [issue](https://github.com/Azure/login/issues/119) for more updates.

[2021-09-24 07:35] #20 closed

[2021-09-24 08:33] dkirrane commented on #119
The issue seems to be related to enabling `enable-AzPSSession: true` which I need for the Powershell action.

[2021-09-27 09:59] BALAGA-GAYATRI commented on #119
@dkirrane
As from our understanding, there are some performance issues coming up in the Powershell scenario i.e. when 'enable-AzPSSession` is set true.
The above screenshots shared by us are also for the same scenario which show execution time to be approximately one minute. Is this the same time your workflows are taking in this scenario? Also let us know if this is the continuous behaviour?

[2021-09-27 18:22] dkirrane commented on #119
@BALAGA-GAYATRI
Yes consistently around 1 or 2 mins

![image](https://user-images.githubusercontent.com/1280116/134964281-a64c9b7e-64d0-40a7-914d-936a1cf8c8b8.png)

[2021-10-01 14:48] tulsishell commented on #111
Thank you so much @LauraFoulquier . I was able to get the Azure login action to work :)

[2021-10-05 11:03] kaverma commented on #119
Thanks @dkirrane.
@BALAGA-GAYATRI can we get a breakup in logs on where the time is spent on where the max time is spent. We can discuss with Powershell team if Connect-AzAccount is consuming time.

[2021-10-06 11:50] AjayKaleMS commented on #103
I also faced this same download taking time for almost 2 mins every time.
When I tried above suggested code, I am still facing the issue. Below is my final action code:

jobs:

  build-and-deploy:
    runs-on: self-hosted
    steps:
    - uses: actions/checkout@v2
    - uses: azure/login@v1
      with:
        creds: ${{ secrets.AZURE_CREDENTIALS }}
    - run: |
        az login --service-principa

[2021-10-19 18:26] dylan-smith opened #154 "Install az CLI if not present"
This task doesn't work on self-hosted runners if the az cli is not already installed. Would be nice if this actions would automatically install the cli if not found like alot of other actions that rely on CLI's do.

Alternatively, provide a separate setup-azure-cli type action that we can call first.

[2021-10-27 16:07] TheOnlyWei opened #160 "Error: The directory is not empty.: '...\azure\login\v1\node_modules\...'"
**Describe the bug**
I posted this issue in actions/runner repository as well since I don't know who caused the error. The error occurs during "Set up job" step, but always an error about "The directory is not empty" in a node_modules foder in "azure\login\v1". Here is the issue I created in actions/runner repository:
https://github.com/actions/runner/issues/1436

An occasional error occurs during

[2021-10-27 22:31] JasonFreeberg opened #161 "Doesn't work with SP's generated from Azure CLI v2.29.1?"
I updated my Azure CLI to v2.29.1 yesterday. I'm setting up a demo to deploy to Azure, but the login action keeps failing. I've done this many times before, so I'm not sure why it's not working. Possibly related to this change: https://github.com/Azure/azure-cli/issues/19892? Looks like there's a recent breaking change in AAD.

1. I generated a service principal using the following command:

[code

[2021-10-27 22:38] #161 closed, assigned to nobody

[2021-11-02 08:39] JontyMC opened #162 "Could not retrieve credential from local cache for service principal"
Our github actions stopped working today with the error:

I've tried recreating the service principal, with no luck.

[2021-11-02 09:19] edwardgronroos commented on #162
We're experienceing the same problem, something broke with the new Azure Cli version released today?

[2021-11-02 09:26] JontyMC commented on #162
Looks this way, pinning the CLI action to last version works:

[code]

[2021-11-02 11:31] shreekannan commented on #162
We're experiencing the same problem,

`ERROR: Could not retrieve credential from local cache for service principal. Run `az login` for this service principal.
Error: Error: az cli script failed.`

[2021-11-02 20:14] Colonel-Rogue commented on #162
Same error. Has resulted in a full stop of our development capabilities. @aksm-ms @BALAGA-GAYATRI

[2021-11-02 23:52] aramase opened #163 "Subscription id for azure login action using OIDC"
Could you help clarify why the azure subscription id is required in the workflow in addition to the tenant id and client? Ideally, I should be able to deploy beyond subscription boundaries?

Ref: https://github.com/marketplace/actions/azure-login#sample-workflow-that-uses-azure-login-action-using-oidc-to-run-az-cli-linux

[code]

[2021-11-03 01:04] rawilder commented on #162
Also experiencing this, fulling halting our dev flows. @aksm-ms

[2021-11-03 03:32] ryan-theta commented on #162
I've just fixed a recent issue with the required "inlineScript" on linux failing. Changing the clause to "run" fixes the problem for us.

Before fix: (failing)
        uses: Azure/cli@1.0.4
        with:
          **inlineScript**: az webapp start -g ${{ secrets.RESOURCE_GROUP }} -n ${{ secrets.PORTAL_APP_NAME }} --slot staging
ERROR: Could not retrieve credential from local cache for service prin

[2021-11-03 03:52] jiasli commented on #162
Please see the detailed explanation at https://github.com/Azure/azure-cli/issues/20154#issuecomment-958615636

[2021-11-03 03:57] jiasli opened #164 "Support `azcliversion`"
[Azure CLI Action](https://github.com/marketplace/actions/azure-cli-action) supports `azcliversion`:

https://github.com/Azure/cli/blob/master/src/main.ts#L25

[code]

In case of Azure CLI compatibility issue or bug, it is possible to revert to old versions of Azure CLI.

But, [Azure Login](https://github.com/marketplace/actions/azure-login) doesn't have `azcliversion`: https://github.com/Azure/lo

[2021-11-03 06:49] IvanJobs opened #165 "How to generate AZURE_CREDENTIALS for a subscription level?"
Hi there,

According to
[code]
this is to generate AZURE_CREDENTIALS for a specific resource group, but how can I generate it for a subscription level?
I try to update the --scopes to subscriptions level, but it comes out without any keywords with clientId/clientSecret.

Any help would be appreciated, thanks.

[2021-11-03 07:12] BALAGA-GAYATRI commented on #163
@aramase You can go to any of your subscription and give contributor access to this application and specify this subscription id in the action call.

[2021-11-08 17:51] jongio opened #167 "Update all environment variable references to match the standard naming conventions"
OIDC docs reference the following env vars
https://docs.microsoft.com/en-us/azure/developer/github/connect-from-azure?tabs=azure-cli%2Clinux#create-github-secrets

AZURE_CLIENTID
AZURE_TENANTID
AZURE_SUBSCRIPTIONID

Azure SDK and previous Azure CLI implementations use:
https://github.com/Azure/azure-sdk/blob/main/_includes/tables/environment_variables.md

AZURE_CLIENT_ID
AZURE_TENANT_ID
AZURE_SUBS

[2021-11-08 18:17] jongio opened #168 "OIDC id_token / id-token inconsistency"
I see "id-token" in OIDC docs:
https://github.com/Azure/login#github-action-for-azure-login
https://github.com/Azure/login#sample-workflow-that-uses-azure-login-action-using-oidc-to-run-az-cli-linux

But "id_token" in official GH docs
https://docs.github.com/en/actions/learn-github-actions/workflow-syntax-for-github-actions#permissions

Please make consistent

[2021-11-08 18:24] jongio opened #169 "actions/checkout fails with permissions: id-token: write"
Include this in yaml:

[code]

And it will fail with:

[code]

We need to also have:

[code]
Since most actions will checkout the repo code, then we need to include the `contents: read` permission in the samples.

[2021-11-08 18:30] jongio opened #170 "Update docs to remove instructions about installing a custom azure cli build"
Here and probably other places:
https://github.com/Azure/login#sample-workflow-that-uses-azure-login-action-using-oidc-to-run-az-cli-linux
https://docs.github.com/en/actions/deployment/security-hardening-your-deployments/configuring-openid-connect-in-azure
https://docs.microsoft.com/en-us/azure/developer/github/connect-from-azure?tabs=azure-portal%2Clinux

Remove bit about requiring a custom azure

[2021-11-09 07:10] BALAGA-GAYATRI commented on #160
Hey @TheOnlyWei This doesn't seem like an azure/login action issue. You might get more insights from [actions/runner#1436](https://github.com/actions/runner/issues/1436) issue. Feel feel to reopen if there is any login specific error :)

[2021-11-09 07:10] #160 closed

[2021-11-09 07:15] BALAGA-GAYATRI commented on #162
So the workaround from the above [Azure/azure-cli#20154 (comment)](https://github.com/Azure/azure-cli/issues/20154#issuecomment-958615636) should solve this issue. We are working to update the runners with latest CLI to avoid this discrepancy. Till then this fix should work.

[2021-11-09 07:19] BALAGA-GAYATRI commented on #170
Hey @jongio. We have added the explicit build step to install latest az-cli to support the latest OIDC login in login action. So once the runners are updated we will remove it in our samples and docs. Till then it is mandatory for the users to add this step for leveraging OIDC login.

[2021-11-09 07:19] #170 closed

[2021-11-09 07:37] BALAGA-GAYATRI commented on #165
Hey @IvanJobs  you may try

[code]
for subscription level scope. More info on scopes can be found[ here](https://docs.microsoft.com/en-us/azure/role-based-access-control/scope-overview).

[2021-11-09 07:37] #165 closed

[2021-11-09 07:47] BALAGA-GAYATRI commented on #168
@N-Usha Can you take care of this?

[2021-11-09 10:34] totogtr commented on #162
Was there a change in the az installed in the runners today ? The workaround subitly stopped working and I needed to update all my workflows with 2.30.0 which now works...

Could you please advise as it's annoying to have to debug that.

[2021-11-10 09:07] BALAGA-GAYATRI commented on #167
Hey @jongio Thanks for pointing out. We will update the documentation for the same.:)

[2021-11-10 09:16] BALAGA-GAYATRI commented on #169
Hey @jongio, Can you share your workflow here?
[Here](https://github.com/BALAGA-GAYATRI/azure-login-action-tests/blob/main/.github/workflows/azure_login_oidc_test.yml) is mine and [run logs](https://github.com/BALAGA-GAYATRI/azure-login-action-tests/runs/4163044810?check_suite_focus=true). It works for me without `contents` permission also. I want to know if the concern is specific to any case.

[2021-11-10 16:51] edburns commented on #162
Hit this as well with 2.29.0.  Trying with 2.30.0 now.

[2021-11-10 16:53] edburns commented on #162
Seems to have resolved the problem.

[2021-11-11 16:05] jongio commented on #169
Does it work for you without "contents: write"?

[2021-11-15 07:48] BALAGA-GAYATRI commented on #162
Closing this issue as runners are updated with latest CLI :)

[2021-11-15 07:48] #162 closed

[2021-11-15 09:38] BALAGA-GAYATRI commented on #169
Yes, For a public repo it works. For private repo it is asking for permissions. We are updating our sample workflow with this permissions for the same.

[2021-11-16 23:30] restfulhead commented on #164
Yes, I hope this requests gets priority. I came here from https://github.com/Azure/cli/issues/56#issuecomment-968579245 where builds started to fail one day without any changes on our end. We need to be able to pin the version to guarantee stable builds...

[2021-11-17 09:16] BALAGA-GAYATRI commented on #169
Closing this issue as readme was updated with the same :)

[2021-11-17 09:17] BALAGA-GAYATRI commented on #167
Changed readme with the same.

[2021-11-17 09:17] #163 closed

[2021-11-17 22:34] jongio opened #175 "OIDC https://token.actions.githubusercontent.com/ should be https://token.actions.githubusercontent.com"
Here:
https://docs.microsoft.com/en-us/azure/developer/github/connect-from-azure?tabs=azure-cli%2Clinux#add-federated-credentials

Has:
[code]

It should be:
[code]

https://token.actions.githubusercontent.com without a slash at the end.

If you have a slash, then you get this error:

[code]

This is in a lot of places: https://github.com/search?q=azure+https%3A%2F%2Ftoken.actions.githubuserconten

[2021-11-17 22:37] jongio commented on #170
I have confirmed that it was removed from those locations.

[2021-11-17 22:38] jongio commented on #169
@BALAGA-GAYATRI - This location doesn't have it: https://docs.microsoft.com/en-us/azure/developer/github/connect-from-azure?tabs=azure-cli%2Clinux#add-federated-credentials

[2021-11-17 22:39] jongio commented on #167
@BALAGA-GAYATRI - This location still has no underscore https://docs.microsoft.com/en-us/azure/developer/github/connect-from-azure?tabs=azure-portal%2Clinux#set-up-azure-login-with-openid-connect-authentication

[2021-11-17 22:39] jongio commented on #167
Here as well https://docs.microsoft.com/en-us/azure/developer/github/connect-from-azure?tabs=azure-portal%2Clinux#create-github-secrets

[2021-11-17 23:51] jongio opened #176 "OIDC:Automate the app creation and FIC attaching process"
Azure CLI instructions here: https://docs.microsoft.com/en-us/azure/developer/github/connect-from-azure?tabs=azure-cli%2Clinux#create-an-active-directory-application-and-service-principal

Do not work as-is.

In reality, this is what is needed to get it all setup:
https://github.com/jongio/github-azure-oidc/blob/main/oidc.sh

[2021-11-18 00:30] jongio opened #177 "OIDC graph calls cannot be made in GitHub Codespaces"
If I try this:

[code]

In a codespace, then I get this:

[code]

When I run `az login --scope https://graph.microsoft.com//.default`

I get this:
![image](https://user-images.githubusercontent.com/2163001/142313036-227ecb7e-2869-412f-9014-95a119e603f5.png)

I think it is saying the codespace itself isn't managed by Admin

[2021-11-18 04:28] jongio opened #178 "OIDC pull-request should be pull_request"
All of the docs, samples, and portal use pull-request, but OIDC only works with pull_request.

If I use pull-request, then the action fails with

[code]

![image](https://user-images.githubusercontent.com/2163001/142351808-49bf2a5e-1897-4ea0-8f08-bf36dc04575c.png)

[2021-11-19 13:43] BALAGA-GAYATRI commented on #169
Thanks @jongio. We will update here also!

[2021-11-19 13:48] BALAGA-GAYATRI commented on #167
Will update here also. Thanks :)

[2021-11-19 13:58] BALAGA-GAYATRI commented on #178
Hey @jogio your subject claim still shows `'repo:jongio/github-azure-oidc:pull_request'` where you used `_` instead of `-`.
You should use `pull-request` in your subject claim instead of `pull_request` according to samples provided [here](https://github.com/Azure/login/tree/master#microsoft-graph) and portal as well.

[2021-11-20 01:58] jongio commented on #178
Yeah, I'm saying pull-request does not work.  Only pull_request works for me.

[2021-11-22 09:24] BALAGA-GAYATRI commented on #168
@jongio Done updating in GH-doc as well.

[2021-11-22 09:24] #168 closed

[2021-11-22 11:22] BALAGA-GAYATRI commented on #176
### Create an active directory application and service principal:

1. Create an active directory application.
[code]
    This command will give a JSON output which has `appId` which is your `client-id`. The same JSON has `objectId` which is `APPLICATION-OBJECT-ID` and is used in creating federated credentials with graph api calls.

2. Create a service principal. Replace $APP-ID with above generate

[2021-11-22 11:34] BALAGA-GAYATRI opened #179 "Updation requests in `Add federated credentials` column in MS Docs"
Below lines has to be changed in - https://docs.microsoft.com/en-us/azure/developer/github/connect-from-azure?tabs=azure-cli%2Clinux#add-federated-credentials

1. >Replace APPLICATION-ID with the Application (client) ID for your Active Directory application.

 will look like
Replace APPLICATION-OBJECT-ID with the objectId (generated while creating app) for your Active Directory application.

2. >`

[2021-11-23 09:15] BALAGA-GAYATRI commented on #178
We would be changing our docs for the same.

[2021-11-24 19:15] kjyam98 commented on #178
Good find @jongio - we will update the Azure Portal UX

[2021-11-25 10:59] guidoiaquinti commented on #178
What's the right subject identifier I should use to allow any action from the repo?

[2021-11-26 10:06] guidoiaquinti opened #180 "ERROR: AADSTS700024: Client assertion is not within its valid time range"
👋 Hi! I’m using the `azure/login` action for CD and I’m often getting an error when the job execution takes more than a couple of minutes from the initial login.

[code]

Is there a way to extend the validity of the token via a parameter? The `aws-actions/configure-aws-credentials` action does it via a  `role-duration-seconds` flag:

Thank you! 🙇

[2021-11-27 10:28] Menci commented on #164
There's a workaround that invokes `az login` in `azure/CLI` action:

[code]

You can also use it in a composite action like [this](https://github.com/Menci/deploy-certificate-to-azure-web-app/blob/da83dcefba4a93b8557cd8ec050fdab97665d15e/action.yml#L38).

Parsing `creds` with Python since passing it to a composite action will lose double quotes (`{"a": "b"}` turns to `{a: b}`) in the string.

[2021-11-29 04:16] jongio commented on #178
@BALAGA-GAYATRI or @kjyam98 - Can you see question above?  I had the same question.  It would be good to have a full list of all the possible subjects in a clear table with answers to the questions like above.

@guidoiaquinti - In my case, I setup the FIC to my main branch so any PRs to that branch would work.  If you want all branches, then I think you need to use a GH environment, but I haven't

[2021-11-29 09:16] guidoiaquinti commented on #178
@jongio  I might be doing something wrong but it doesn't seems to work in my case:

you can see the action run [here](https://github.com/PostHog/charts-clickhouse/runs/4351388359?check_suite_focus=true).

[This](https://github.com/PostHog/charts-clickhouse/pull/204) is the PR it's running against (PR to merge into `main` from `e2e_azure`).

I'm using `repo:PostHog/charts-clickhouse:ref:refs/heads/

[2021-11-29 23:09] jongio commented on #176
Can you make the commands runnable?  So the user doesn't have to copy and paste and mess with variables, etc.

[2021-11-30 21:59] cmatskas commented on #56
Hi all, can someone let me know if this was ever implemented? We have a working solution [here](https://github.com/Azure/login/pull/68) that JP recommended earlier and I would love to freshen up and send a PR if you're open to it?? @aksm-ms @BALAGA-GAYATRI

[2021-12-01 11:21] ctolkien opened #182 "Cannot use OIDC to access subscriptions in another tenant"
We have a setup where:

* Subscription exists in another tenant from where the OIDC GitHub app exists.
* Access is currently granted to users in our tenant by means of Azure Lighthouse: https://docs.microsoft.com/en-us/azure/lighthouse/. We have an AD group in our tenant which has contributor role access in these delegated tenants. Any users in those groups can see and access the subscriptions in

[2021-12-01 14:14] jongio commented on #169
I think this can be closed. I have verified fixed in msdocs

[2021-12-02 04:39] ctolkien commented on #182
Fixed - this was a configuration issue in our AAD whereby the SP access was assigned to the group with the tenant access, as opposed to the SP being added to the group.

[2021-12-02 04:39] #182 closed

[2021-12-02 08:16] BALAGA-GAYATRI commented on #175
This is updated in action readme and MS docs. @juliakm /@n-usha what about the [other places](https://github.com/search?q=azure+https%3A%2F%2Ftoken.actions.githubusercontent.com&type=Code) ? Whom should we contact for the updates?

[2021-12-02 08:17] BALAGA-GAYATRI commented on #169
Yes. Updates are done! Closing this issue.

[2021-12-02 08:17] #169 closed

[2021-12-02 08:17] BALAGA-GAYATRI commented on #167
This is also done. Closing this issue.

[2021-12-02 08:17] #167 closed

[2021-12-02 08:20] BALAGA-GAYATRI commented on #178
@kjyam98 Do we have an ETA for this updation? @N-Usha / @kjyam98 Do we have any solution for @guidoiaquinti's question-

[2021-12-02 08:22] BALAGA-GAYATRI commented on #180
@kjyam98 @N-Usha @udayxhegde Is this Doable in Azure?

[2021-12-02 10:02] thepaulmacca opened #184 "Az CLI Error when using OIDC"
Hi, I've hit a bit of a weird issue. I'm deploying bicep files using some reusable workflows https://github.com/ops-to-dev/actions-reusable-workflows/blob/main/.github/workflows/bicep-deploy.yml and the `validate` job logs in fine, but the `deploy` job fails with the below error:

![image](https://user-images.githubusercontent.com/41340540/144399555-a1bc180e-3018-45a0-afa9-c08e736493c4.png)

I'm n

[2021-12-02 14:54] BALAGA-GAYATRI commented on #184
Hey @thepaulmacca , the issue here is `validate` job is directly running on main for which you have setup federated credentials, but for the `deploy` job you are using environment -
[code]
which would require another federated credential setup in azure. I could see in [your script](https://github.com/jongio/github-azure-oidc/blob/main/oidc.sh#L88-L90) FIC(federated identity credentials) were set f

[2021-12-02 17:48] thepaulmacca commented on #184
Thanks for getting back to me, I'll amend the script and give it a try

[2021-12-02 17:48] #184 closed

[2021-12-03 01:27] udayxhegde commented on #180
@BALAGA-GAYATRI I am not sure I understand the question: what is Doable in Azure? The issue seems to be that the github token has expired when it is presented to Azure AD

[2021-12-03 08:08] guidoiaquinti commented on #180
@udayxhegde the problem I’m trying to solve is customise the expiration time of the token. This is useful if you plan to run operations on the Azure platform with timeframes longer than the standard validity.

Example:

1. Provisioning of the AKS cluster
2. deploy a stack
3. execute e2e tests
4. destruction of the AKS cluster

If the timeframe between steps 1 and 4 is longer than the maximum valid

[2021-12-06 07:34] BALAGA-GAYATRI commented on #179
Closing this issue as documentation updates are done.

[2021-12-06 07:34] #179 closed

[2021-12-06 13:22] bgelens opened #187 "OIDC login and parallel job matrix"
Hi!

I have a buildmatrix defined and in every one of the resulting jobs, az cli OIDC auth is used for the same principal using the `azure/login@v1` action.
From the looks of it, this is an unsupported scenario. Only the job that started last will have a valid token and the rest is invalidated.

My repro is simply using `az acr login`. I get `CONNECTIVITY_REFRESH_TOKEN_ERROR` when running in paral

[2021-12-07 19:30] bgelens commented on #187
Turns out the problem actually lies with ACR updates running in parallel, blocking token exchange.. Sorry for posting this wrongfully

[2021-12-07 19:30] #187 closed

[2021-12-07 23:57] troyready opened #188 "Allow exporting of OIDC service principal credentials for non-azure-cli applications"
It would be nice if the `addSpnToEnvironment` option from the [Azure Devops Login Task](https://docs.microsoft.com/en-us/azure/devops/pipelines/tasks/deploy/azure-cli?view=azure-devops) (or something like it) was supported so that non-azure-cli apps could use the generated credentials.

For context, in case it's helpful, I'm trying to replicate the [workaround detailed here](https://stackoverflow.

[2021-12-13 11:54] BALAGA-GAYATRI commented on #180
Hey @guidoiaquinti, This is currently not being implemented in OIDC login mechanism. If you want to leverage the auto refresh mechanism of token, you may use the SPN login by setting your deployment credentials using - https://github.com/Azure/login#configure-a-service-principal-with-a-secret
In this way you will not face token expiration issue.

[2021-12-13 11:57] BALAGA-GAYATRI commented on #176
Hey @jongio! Can you raise a PR against readme with a bash script which you using. Also please make it as simple and generic as possible.

[2021-12-13 11:58] BALAGA-GAYATRI commented on #175
Closing this issue as the official docs are updated.

[2021-12-13 11:58] #175 closed

[2021-12-13 14:01] guidoiaquinti commented on #180
Thank you for your reply Balaga 🙇

Any plan to add this feature to the Azure roadmap? I'm trying to avoid generating and hardcoding long-term secrets if possible.

[2021-12-14 00:01] jongio commented on #176
We should figure out best way to do this.  The process isn't easy. https://github.com/jongio/github-azure-oidc/blob/main/oidc.sh

Wasn't the az cli going to wrap this?

[2021-12-14 08:51] BALAGA-GAYATRI commented on #180
Yes @guidoiaquinti. The refresh token mechanism is yet to be implemented.

[2021-12-14 09:14] guidoiaquinti commented on #180
I understand but is there any plan to implement it?

On Tue, 14 Dec 2021 at 09:51, Balaga Gayatri ***@***.***>
wrote:

[2021-12-14 12:19] BALAGA-GAYATRI commented on #180
Yes. But we can't commit to a specific timeline for this. We will keep you informed.

[2021-12-14 12:26] BALAGA-GAYATRI commented on #176
Yes. Till that time users can use the script. If the effort is considerable you may work on this. Otherwise we can wait for CLI.

[2021-12-14 13:08] BALAGA-GAYATRI commented on #154
Closing this issue as the same issue being tracked here - https://github.com/Azure/login/issues/104

[2021-12-14 13:08] #154 closed

[2021-12-16 08:35] jiasli opened #190 "Remove the usage of `--sdk-auth` from `az ad sp create-for-rbac`"
Azure CLI has deprecated `--sdk-auth` from `az ad sp create-for-rbac` in https://github.com/Azure/azure-cli/pull/19414, because the result of `az ad sp create-for-rbac --sdk-auth` is not consumed by Azure Track 2 SDKs anymore:

[code]

GitHub Action **Azure Login** and its docs should use the output of `az ad sp create-for-rbac` without `--sdk-auth`.

[code]

[2021-12-16 09:08] BALAGA-GAYATRI commented on #190
@jiasli But the problem is inside login action, it is expecting the credentials to be `clientId`, `clientSecret` etc. If we remove `--sdk-auth` it would generate `appId`, `password` which cannot be processed. We will need to make major changes in the action to support this. Can we retain `--sdk-auth`?

[2021-12-16 10:09] jiasli commented on #190
+@chasewilson

The login action can still use `clientId`, `clientSecret`, it's just the user needs to translate them. Or is it possible for GitHub Action to accept both, until users are fully migrated to `appId`, `password`?

[2021-12-17 02:23] jiasli commented on #190
Another evidence showing `--sdk-auth` should be dropped: https://github.com/Azure/azure-cli/issues/20743#issuecomment-995968667

There is no `--sdk-auth` support in `az ad sp credential reset`.

[2021-12-17 09:23] BALAGA-GAYATRI commented on #190
@jiasli what about `subscriptionId` and `resourceManagerEndpointUrl` ? We would need them for login action.

[2021-12-17 09:41] jiasli commented on #190
We would expect user to provide them instead.

Currently not, that's why we wan to sync with your team first.

[2021-12-17 10:02] BALAGA-GAYATRI commented on #190
That would be an overhead from customer perspective. Is it possible to include these two in the latest one?

[2021-12-22 18:14] Danmirz18 opened #191 "log in form validation"
https://code.sololearn.com/WjMn6A8mB0bR/?ref=app

[2021-12-23 06:48] BALAGA-GAYATRI commented on #191
@Danmirz18 Can you be more specific about your issue? This repository's issue forum deals with azure login action.

[2021-12-28 00:34] davetapley commented on #104
I just lost an hour because of the `Please check the credentials.` message,
when in reality it was just that the [`act`](https://github.com/nektos/act) runner I was using didn't have `az` installed 😞

Even if we can't get self installing, can we at least check for `az` and abort with a clearer error message?
I think it's as simple as checking catching here:
https://github.com/Azure/login/blob/db98

[2022-01-04 09:04] BALAGA-GAYATRI commented on #191
@Danmirz18 Closing this issue as the problem statement seems unclear. Feel free to reopen if the problem is occurring while using `azure/login` action.

[2022-01-04 09:04] #191 closed

[2022-01-04 11:26] chapitos opened #192 "Azure login action does not function if the client secret starts with hyphen"
If the Azure creds clientSecret starts with hyphen the Azure login action will fail with the following error:

`Error: : argument --password/-p: expected one argument`

It seems that the clientSecret is passed to az login using -p and not using -p= which is needed according to az login documentation if the clientSecret starts with a hyphen.

[2022-01-06 12:14] tburgdorfcso opened #193 "subscriptionId and tenantId as secrets"
Hello, why are subscriptionId and tenantId marked as secrets ([Source](https://github.com/Azure/login/blob/db989b30605ff229e9f1de292a8f0aa043ee48b1/src/main.ts#L92))?

[code]

This is breaking some of our workflows since we need to share those ids between jobs which is not possible when they are getting masked.

Currently, we are using version 1.3.0 where they were not masked.

[2022-01-07 10:13] N-Usha commented on #178
@kjyam98 - Can you please update the status on this issue at Azure's end?

There is an additional claim in the OIDC token for "event" that triggered the workflow (CI in this case) but since Azure doesn't yet support any additional claims, am afraid this scenario can't be supported using only the subject claim.

[2022-01-08 11:34] mayong43111 opened #195 "Speed up download time with Webpack #194"
I notice that the node_module folder is included in the tag of the publication and need it at run time, but it's very big. I modified to use Webpack to package the project, In my sel-hosted, the Set Up Job step saves 30 seconds. so I recommend using it and remove node_module from tag.

I submitted an RP #194  and I tested it very well

[2022-01-10 05:30] BALAGA-GAYATRI commented on #195
hey, @mayong43111 Thanks for your contribution. This request and PR will be reviewed and a decision will be taken post that.

[2022-01-10 05:40] BALAGA-GAYATRI commented on #193
@tburgdorfcso you need to pass them as individual secrets when you opt for OIDC auth. For non-OIDC it is still the same object. Ideally, it should work like before. Let me know the issue in detail and can share your workflow.

[2022-01-10 08:31] tburgdorfcso commented on #193
We are using non-OIDC at the moment like this:

[code]

With every version above 1.3.0, we face the issue that the subscriptionId and tenantId are getting masked (`::add-mask::{value}`) and they can't be used as job outputs anymore.

In 1.3.0 the ids were loaded like this:

[code]

\>1.3.0:

[code]

The flag is whether the value should be seen as a secret and getting masked.

[2022-01-10 17:52] jongio commented on #178
pull_request works for me.

[2022-01-10 18:16] kjyam98 commented on #178
@N-Usha @jongio I filed a bug for the subject identifier format issue and tagged you both on it. FYI I only found the issue in Azure Portal...I didn't see it referenced in any docs examples.

[2022-01-11 00:59] mayong43111 commented on #195
thank you @BALAGA-GAYATRI , This change is very important to me. My GitHub Enterprise Server and Runner network is not very good, Sometimes it even takes two minutes to download this action.

[2022-01-11 04:56] BALAGA-GAYATRI commented on #178
It works fine now. Thanks, @kjyam98. Closing this issue as the UI is updated with `pull_request` .

[2022-01-11 04:56] #178 closed

[2022-01-14 11:24] AjayKaleMS commented on #192
Hi @chapitos  - We have implemented a fix in a forked branch. We would like you to try your workflow on below action instead of original one(azure/login@v1)

`AjayKaleMS/login@releases/v1
`
If this action works for you for secrets with and without hyphen start, then we can make the changes in original Azure/Login.

Thanks in advance for your co-operation.

[2022-01-15 16:29] pavanm-huma opened #197 "Azure/login github action always looks for 'environment' entity type despite specifying other entity types in app registration"
Hello, I'm trying to use 'OIDC federated credentials' using app registration -> federation credentials.  Azue/login github actions always looks for entity type 'environment' despite specifying other entity type such as 'pull_request'.

If I specify 'environment' in entity_type in app registration, the github actions works:
[code]
If I specify any other type of 'entity type', the github action stil

[2022-01-18 07:03] kaverma commented on #177
@BALAGA-GAYATRI , can we move this to cli repo ?

[2022-01-18 07:13] BALAGA-GAYATRI commented on #177
@jongio https://github.com/Azure/azure-cli/issues/21025 Filed an issue in Az-cli repo and it will be tracked there. Feel free to communicate any latest insights on this issue there itself. Closing this issue here.

[2022-01-18 07:13] #177 closed

[2022-01-18 09:38] chapitos commented on #192
@AjayKaleMS: have you tested your code fix?

[2022-01-18 09:43] AjayKaleMS commented on #192
Yes @chapitos - We have already tested it but still we want to make it sure if it is indeed working for the inputs you are facing issue with.
Please do let us know result from your side.
Thanks.

[2022-01-18 12:28] chapitos commented on #192
@AjayKaleMS your fix is not working so I am not sure how it passed your tests. The action is throwing now a different error: AADSTS7000215: Invalid client secret is provided.

Your change is putting the secret between quotes, which is not correct (quotes are perceived as part of the secret). Please see my comment on your PR. According to az login documentation, passwords starting with '-' need to

[2022-01-18 12:38] AjayKaleMS commented on #192
Thanks @chapitos for quick response on this. Actually we manually inserted '-' at the beginning of our correct client secret and this removed the original error `'Error: : argument --password/-p: expected one argument'` . This was the reason we wanted it to be tested with your inputs.

As per your comments, I have made the changes which is secret is passed in the `-p=<secret>`

Request you please

[2022-01-18 13:08] AjayKaleMS commented on #192
@chapitos - could you please try again as there was a block completion error - I corrected it now.

Below is final code block to handle secrets:

[code]

[2022-01-18 13:33] chapitos commented on #192
My question is related to change you made in the src/main.ts. This is still using the quotation for the password having '-' and not -p=secret.
Why is this also not changed to use -p=secret?

[2022-01-18 17:02] BALAGA-GAYATRI commented on #197
@pavanm-huma Looks like you are trying to access any secret or something which is present in an environment. That's why it is expecting you to have those federated credentials to be present for the environment. Please share your workflow for a better understanding of the issue.

[2022-01-18 21:28] pavanm-huma commented on #197
@BALAGA-GAYATRI Thanks for the response!  I do not intend to use any secrets for authentication -- I only want to use federated credentials using OIDC provider to have short lived tokens only.

Below is my composite action (action.yml)

[code]
The above composite action is invoked by the main workflow as below:
[code]

[2022-01-19 04:19] AjayKaleMS commented on #192
@chapitos - Because after compiling and building main.ts, it finally is reflected in `lib/main.js` , so for the testing purpose I am directly putting the changes there in forked branch.

Could you test your secrets with hyphen?
Thanks

[2022-01-19 06:25] BALAGA-GAYATRI commented on #197
@pavanm-huma Can you please confirm -
1. How are you triggering the workflow in failure case? `pull_request` event? If yes, make sure the [federated credentials are generated](https://github.com/Azure/login#configure-a-service-principal-with-a-federated-credential-to-use-oidc-based-authentication) for that event.
2. Also what exactly is `terraform-demo` ? github environment?

I think your workflow

[2022-01-19 09:57] chapitos commented on #192
Same error: Error: : AADSTS7000215: Invalid client secret is provided.

[2022-01-19 10:05] AjayKaleMS commented on #192
Yes - both `src/main.ts` and `lib/main.js` are updated with same code `-p=<secret>`

[2022-01-19 10:18] chapitos commented on #192
Here is the code of the azure login step:

`- name: Azure Login
        uses: AjayKaleMS/login@releases/v1
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}`

The error is, as mentioned above the same as above:

Error: : AADSTS7000215: Invalid client secret is provided.

[2022-01-19 10:18] AjayKaleMS commented on #192
@chapitos - In the meantime, till the time I am working on this specific hyphen starting secret issue, can I request you to alter or regenerate the secrets(most probably new ones will not start with hyphen), so that your work will be unblocked using them.

Please let us know if you have any thoughts.

Thanks

[2022-01-19 10:20] chapitos commented on #192
@AjayKaleMS
My work is not blocked as I am using az login command from the a step of my workflow to do the login and it is working fine (with -p=secret). I have opened this issue once I noticed that the action is not working for secrets starting with hyphen.

[2022-01-19 10:23] AjayKaleMS commented on #192
@chapitos - Good to hear that work is not blocked. We are working on it and will keep on updating the progress here.

Thanks again for all your co-operations.

[2022-01-19 17:53] BALAGA-GAYATRI commented on #104
`Azure/login` action is only responsible for logging into azure. `Azure/cli` has a different approach of pulling the latest docker image and executing cli commands. While the design of both the actions is different currently `az` needs to be present on the runner to leverage login action. Inorder to help the users to figure out the reason for failure, we have added this statement in the error resp

[2022-01-19 17:53] #104 closed

[2022-01-20 09:50] pavanm-huma commented on #197
@BALAGA-GAYATRI Yes, it is triggered from pull request.  Federated credentials are already configured.  The above 2 scenarios (one success and one failure) is against federated credentials with 2 different settings -- details below:

1. If entity type is set to 'environment' (yes, environment is defined in my workflow as well to match to it), it works.
![image](https://user-images.githubuserconten

[2022-01-20 13:51] tjschonborn opened #200 "Continuous Deploy of Container App suddenly fails after ownership transfer."
(I posted this to azure/aci but was asked to reopen the issue here)

For some reason the 'deploy' step of the CI workflow keeps failing with the following error:
[code]
The workflow.yml has automatically been created after enabling CI in the Azure Container Apps page. I have registered the application in AAD and added a secret to the CI. I can see that the secrets.AZURE_CREDENTIALS value is also u

[2022-01-21 11:52] AjayKaleMS commented on #200
HI @tjschonborn - As the error is seen for Azure Login failure, we would suggest you to refer below points to solve the issue:
1. Please refer [this documentation](https://github.com/Azure/login) for using azure/login action

2. Please make sure you are using below az cli command to generate as the value of secret variable and use it in your workflow
`az ad sp create-for-rbac --name "<any_name>" -

[2022-01-22 02:44] cperfect commented on #164
Also would resolve https://github.com/microsoft/azure-container-apps/issues/28

[2022-01-23 09:41] tjschonborn commented on #200
Hey @AjayKaleMS, thanks for getting back to me!

I ended up fixing the issue after completely deleting all app registrations and container apps and setting everything up from scratch. I did everything exactly the same as the last 10 times that didn't work so I'm still suspecting that maybe the ownership transfer resulted in some problem?

I just wanted to communicate again that the `AutoDeployTrig

[2022-01-23 09:41] #200 closed

[2022-01-25 05:41] mayong43111 commented on #195
Could someone please look at this problem

[2022-01-28 09:40] BALAGA-GAYATRI commented on #197
So for the failure case(triggering via `pull_request`) also using the environment (`terraform`)? @kjyam98 Can you help here?

[2022-01-28 18:00] kjyam98 commented on #180
@BALAGA-GAYATRI please assign to udayxhegde

[2022-01-28 18:15] udayxhegde commented on #180
@kjyam98, that is not the right assignment

@kjyam98 , @BALAGA-GAYATRI: what are you expecting by assigning to me? did you have a specific design in mind that you need my help?

[2022-01-28 19:39] kjyam98 commented on #197
@BALAGA-GAYATRI I'm not familiar with terraform...have you tried reproducing the error?

[2022-01-29 13:05] tobiasdiez commented on #118
@BALAGA-GAYATRI can you please reopen this issue? I still couldn't find a way to add the necessary firewall rules to access the database after logging into azure using the `azure/login` action. As outlined above, I think it would be nice if the login action and not the database-specific actions are taking care of the firewall exception. In the end, after you logged in you want to have access to yo

[2022-01-31 17:32] BALAGA-GAYATRI commented on #180
@udayxhegde
Sorry for the confusion. This was already closed over email. We will be working with the CLI team for the changes required in CLI and in Action for the auto-refresh mechanism for addressing the same. Have assigned back the issue to my team.

[2022-02-01 19:35] TheOnlyWei opened #202 "Custom Context Scope?"
Right now, it seems the azure/login@v1 step applies the context to all console application sessions. It doesn't seem like there is any scope option like the below:

https://docs.microsoft.com/en-us/powershell/azure/context-persistence?view=azps-7.1.0#save-azure-contexts-across-powershell-sessions

Would be useful to have a feature such as a "scope:" property that could be used to limit the context

[2022-02-04 21:46] hholst80 commented on #119
Even a default login is very slow. 12 seconds? It should be at most 2 seconds. What is going on here?

![image](https://user-images.githubusercontent.com/6200749/152607314-7b9cb6a6-d587-4456-8352-a39deec91fac.png)

[2022-02-05 08:02] NissesSenap commented on #164
Ping

[2022-02-07 13:25] scott-doyland-burrows commented on #190
Just ran into this issue.  Also the docs below are messed up.  It says to use ```--sdk-auth``` but then shows the output being pasted into GitHub secrets that has been generated without ```--sdk-auth```.

https://docs.microsoft.com/en-us/azure/developer/github/connect-from-azure?tabs=azure-portal%2Cwindows#create-a-service-principal-and-add-it-as-a-github-secret

Can you just create a ```v2``` of

[2022-02-07 19:39] neerajram commented on #202
As per the [doc](https://docs.microsoft.com/en-us/powershell/module/az.accounts/connect-azaccount?view=azps-5.7.0), if you specify the -Scope Process the Az Context will be bound to that specific PS Process.

Can this be done using the azure/login@v1 action? As mentioned above, this can be helpful for us in running parallel jobs in the same VM.

[2022-02-08 09:42] hoppeeri commented on #192
got the same issue here, the ai suggestions don't help.
<img width="1358" alt="image" src="https://user-images.githubusercontent.com/68911210/152960294-494fe3da-562c-491e-8296-2eb946fd3794.png">

[2022-02-08 17:41] BALAGA-GAYATRI commented on #202
@TheOnlyWei We shall look into the issue and keep you posted.

[2022-02-09 13:49] tiagojsag commented on #190
+1 for an alternative here.

My use case is slightly different: I am building a Terraform configuration that functionally mimics https://docs.microsoft.com/en-us/azure/container-instances/container-instances-github-action

AFAICT the current Terraform providers don't have a way to export the content of the AZURE_CREDENTIALS
While typically this would be a terraform provider issue, with --sdk-auth

[2022-02-09 17:12] bbl commented on #39
Great news!
Although, it seems we need to hardcode branch name in the OIDC parameters in azure. It's not an option if you have this pattern in a GitHub workflow:

[code]

or, e.g.

[code]

Is there any option to accept _all_ branches or to use some pattern?

[2022-02-14 18:46] mikeviviani commented on #56
Hi
adding here the interest of this feature. Any plan to release it?

[2022-02-17 12:47] ryancomia opened #203 "Error: Az CLI Login failed. Please check the credentials and make sure az is installed on the runner."
Anyone can pls help me
i have tried multiple times and different versions but i cant seem to make it work.
i am certain the secrets are correct. i have re-keyed and regenrate number of times

![image](https://user-images.githubusercontent.com/52190657/154484465-9033d122-ef1e-4d21-a601-4d161c30a270.png)

![image](https://user-images.githubusercontent.com/52190657/154484830-e924acc6-820c-49be-9717-5

[2022-02-18 20:29] PedroEss opened #204 "The parameter "enable-AzPSSession: true" causes delays in Actions"
I have figure out that the parameter "enable-AzPSSession: true" causes that run last approx 1min 20 sec, where without parameter **5 seconds**. I thought it will be a few more seconds with parameter but not that much.

[2022-02-19 09:58] NissesSenap commented on #164
Pong

[2022-02-21 10:52] BALAGA-GAYATRI commented on #204
Hey @PedroEss. Looks like PowerShell login is taking more time for you. We shall investigate this.

[2022-02-21 12:16] BALAGA-GAYATRI commented on #203
@ryancomia @naseraldaher Can you refresh your credentials(create new ones using [this](https://github.com/Azure/login#configure-a-service-principal-with-a-secret)) and check again. This seems like a temporary issue.
Also, login action now supports OIDC login mechanism. Visit [this] to get started with OIDC login.

[2022-02-21 12:29] BALAGA-GAYATRI commented on #164
Here the issue is when there is a compact issue that arises when a workflow uses both CLI and azure login actions. So if the cli latest is incompatible with the cli from the runner, workflows might fail.  In order to avoid this issue, CLI action now implements a new strategy that checks for the runner CLI version and defaults to it unless an explicit version is provided in `azcliversion`. So that

[2022-02-21 12:29] #164 closed

[2022-02-21 18:12] NissesSenap commented on #164
@BALAGA-GAYATRI I'm going to be rather honest in this but i don't understand the solution.

Using the Azure CLI GitHub action is a know workaround and something that all of us had to apply when Microsoft did this breaking change without releasing a major version. See:
https://github.com/Azure/login/issues/164#issuecomment-980537173

We don't want to use this workaround, the whole point of this Git

[2022-02-22 08:08] naseraldaher commented on #203
Seems like azure/login@v1.4.3 fixes this issue as well without the need to refresh credentials.

[2022-02-23 16:45] BALAGA-GAYATRI commented on #164
Hey @NissesSenap
#### Main reason for raising the issue:
So when az-cli came up with a new version using  MSAL removing ADAL, it basically changed the way credentials are stored in the machine. So at that time users having both these actions (i.e, `azure/login` and `azure/cli`) in their workflows faced an  issue because previously `azcliversion`  variable defaulted to `latest` which is latest MSAL

[2022-02-23 16:47] BALAGA-GAYATRI commented on #203
Great to hear that @naseraldaher !  FYI, `azure/login@v1` points to the latest `azure/login@v1.4.3`. Both should be working fine.

[2022-02-23 16:56] BALAGA-GAYATRI commented on #193
@tburgdorfcso I understand the concern. But the reason for deciding to mask these values is, it is considered as PII data so it is recommended to treat them as secrets thereby preventing them from exposing to console logs. In your jobs which are dependent on these values, I would suggest you to read from secrets and parse them inside your script. It is not so complicated. You can refer [main.ts](h

[2022-02-23 16:56] #193 closed

[2022-02-23 16:59] NissesSenap commented on #164
I know, i have spent allot of time working around this issue.
Isn't the whole point of this issue that we want support for azcliversion? So the next time Azure decide to do a breaking change without making major release we can work around it by defining the azcliversion so we don't have to use the ugly workaround and actually be able to use the login GitHub action.

To me it makes sense to keep th

[2022-02-23 17:01] NissesSenap commented on #164
Another option could be that you say that it will never be implemented and then we know that at least :)

[2022-02-23 17:10] BALAGA-GAYATRI commented on #111
The current `azure/login` action's design doesn't include this implementation so not looking forward to implementing in near future. Since the workaround exists with CLI action, this issue will be closed.

[2022-02-23 17:10] #111 closed

[2022-02-23 17:16] pavanm-huma commented on #197
Hi Gayatri, yes, we are still facing the same issue.  Any help would be
appreciated.

On Wed, 23 Feb 2022 at 16:58, Balaga Gayatri ***@***.***>
wrote:

--

Pavan Kumar Mayakuntla (he/him)

Lead DevOps Engineer

‘Nobel prize of pharma’ Prix Galien USA
<https://huma.com/thoughtpiece/prixgalienaward> winner for digital health

Europe’s fastest-growing healthcare company Financial Times
<https://hubs.

[2022-02-24 13:36] mikhail-teslya commented on #203
Hi @BALAGA-GAYATRI, this is not fixed for me in `@1.4.3` (and not working with `@v1` reference either). Error is exactly the same as in the first message.

1. Credentials are for sure working fine, executed az login --service-principal -u <xx> --tenant <xx> -p <xx> postfixed with az account set --subscription <xx> locally with no problems
2. Attaching debug logs of workflow execution here (the mai

[2022-02-24 14:00] mikhail-teslya opened #205 "Error: Az CLI Login failed. Please check the credentials and make sure az is installed on the runner."
Hi, I also commented on a closed issue https://github.com/Azure/login/issues/203. This issue is not fixed for me in `@1.4.3` (and not working with `@v1` reference either). Error is exactly the same as in the first message.

1. Credentials are for sure working fine, executed `az login --service-principal -u <xx> --tenant <xx> -p <xx>` postfixed with `az account set --subscription <xx>` locally usin

[2022-02-24 14:06] ryancomia commented on #203
ts still not working aswell for me

[2022-02-24 14:15] naseraldaher commented on #203
Hi @BALAGA-GAYATRI, didn't work with using v1, tried on different workflows as well. Had to specify using 1.4.3 for it to actually work.
Seems like the SPN had some bug as well. Even though it was created in the correct subscription and worked with az login, it didn't work for workflows. Created new SPN and using the 1.4.3 and everything worked for me.

[2022-02-25 06:22] dstratman-fi commented on #56
Team, this is sorely needed.  This feature for the azure cli has been available for some time, and this looks like an easy win / implementation, can we get an estimate or timeline?

[2022-02-25 09:04] mikhail-teslya commented on #203
@naseraldaher Hi, I am referencing `@v1.4.3` directly, but it's not working in my workflows (also visible from logs I uploaded to the previous message)
![image](https://user-images.githubusercontent.com/85156799/155686565-ea7b26dc-25dc-475d-bf4a-129ecde4865c.png)

[2022-02-25 09:06] naseraldaher commented on #203
@mikhail-teslya : Did you try creating new SPNs?

[2022-02-25 09:10] mikhail-teslya commented on #203
@naseraldaher If you mean service principals in Azure then yes, quite a few, multiple times, and also always tested login using a referenced service principal locally (using az cli)

[2022-02-25 23:46] stephenmahood opened #206 "ARM Deploy Outputs containing resourceIds getting sanitized by GitHub"
When using the Azure Login GitHub action with the creds parameter:
[code]
secrets.AZURE_CREDENTIALS:
[code]
 and then deploying an ARM template with the arm-deploy action that returns a resourceId as a template output, GitHub sanitizes the step output  due to the subscriptionId within the resourceId being present within the AZURE_CREDENTIALS secret.

[2022-03-02 09:32] BALAGA-GAYATRI commented on #205
Can you share your workflow yaml @mikhail-teslya ? That would help us know the issue better. Thanks!

[2022-03-02 10:10] kchandra548 commented on #197
Hi @pavanm-huma, If I understood correctly you are running workflow using an environment that is triggered by a pull request event.  And your FIC is configured with the `PullRequest` entity type.  This won't work, because if the workflow is using an environment then the `sub` claim always contains `Environment` details only. So change the FIC entity type to `Environment` and try.

[2022-03-02 16:30] pattisanta commented on #203
I have the same issue I have created a new SP changed the workflow. I can log in locally with the SP to the subscription successfully.  Just the workflow is not workings.
- name: Log in to subscription
        if: env.subscription == 'subscriptionName'
        uses: azure/login@v1.4.3
        with:
          creds: ${{ secrets.name }}

[2022-03-03 07:08] mikhail-teslya commented on #205
Hi @BALAGA-GAYATRI! Please find the workflow attached
[partial-web-app-remove-restrictions.txt](https://github.com/Azure/login/files/8175689/partial-web-app-remove-restrictions.txt)

[2022-03-03 16:24] BALAGA-GAYATRI commented on #205
@mikhail-teslya Can you please confirm if this how you are generating credentials and putting them in secrets?
https://github.com/Azure/login#configure-a-service-principal-with-a-secret
If not please do this way.

[2022-03-04 06:42] mikhail-teslya commented on #205
@BALAGA-GAYATRI yes, exactly the same way, as described on the page you've posted. I tried to regenerate credentials several times. And furthermore, I can login with the returned principal locally, as it is described in the first message in this thread

[2022-03-04 08:43] N-Usha commented on #197
Just for reference , here is the doc that clarifies the point @kchandra548 mentioned above : https://docs.github.com/en/actions/deployment/security-hardening-your-deployments/about-security-hardening-with-openid-connect#filtering-for-pull_request-events

[2022-03-04 18:37] thxmxx commented on #205
I have the same problem I just ran it from my repo and the exception is: `Error: Not all values are present in the credentials. Ensure clientId, clientSecret and tenantId are supplied.`

But the JSON output from `az ad sp create-for-rbac` has the following keys:

[code]

[2022-03-04 18:45] BALAGA-GAYATRI commented on #205
@thxmxx  please provide ` --sdk-auth` in the end of your `rbac` command while generating the credentials as shown [here](https://github.com/Azure/login#configure-a-service-principal-with-a-secret). Currently, the object's format generated without this flag is not supported in the login action. Use `--sdk-auth` and it should solve the problem for you.

[2022-03-04 18:47] thxmxx commented on #205
Yes, everything is working here, just telling to the author maybe he did the same mistake.

Ty

[2022-03-07 07:13] mikhail-teslya commented on #205
Hello @BALAGA-GAYATRI, @thxmxx !
I did this many times before I created this issue, but just in case I repeated credentials creation step. Just in case, attaching a screenshot of the command I execute here:

![azure-credentials-creation](https://user-images.githubusercontent.com/85156799/156984177-5a5a049b-df2c-452f-b16d-b69cbde6b9e4.jpg)

Down below, you can see what it generates for me:
[code]
A

[2022-03-07 11:16] mikhail-teslya commented on #205
@BALAGA-GAYATRI maybe it has something to do with https://docs.github.com/en/actions/security-guides/security-hardening-for-github-actions#using-secrets, point **Never use structured data as a secret**?

[2022-03-09 15:54] drr1217 commented on #205
@BALAGA-GAYATRI I am receiving the same error. It indicates that the "--sdk-auth" has been deprecated and my output matches exactly what is seen from @mikhail-teslya.

[2022-03-10 10:34] sundareshwarank opened #211 "Az CLI Login failed"
I am using the latest version of v1.4.3 while logging in I am getting the error as
![image](https://user-images.githubusercontent.com/100189451/157643757-f920a0fe-fa49-4ebc-999a-125a4ae76b87.png)
I have stored in the secrets in different name (AZURE_CREDENTIALS_DEV_TEST).
 I already have working deployment with the same setup with (AZURE_CREDENTIALS) will it be the issue?

[2022-03-11 07:37] mikhail-teslya commented on #205
..and my secret name is AZURE_CREDENTIALS
![image](https://user-images.githubusercontent.com/85156799/157823199-69f72953-b9a1-4389-931b-7d2347e1c901.png)

[2022-03-11 16:18] BALAGA-GAYATRI commented on #211
@sundareshwarank You can share your workflow file for understanding the issue better. The valid credentials secret name should match with the one you are referring to in your workflow.

[2022-03-11 21:46] drr1217 commented on #205
Just an update: changing the "uses" to "azure/actions/login@v1" seems to work, but I'm not sure why. This still seems like a bug to me.

<img width="238" alt="image" src="https://user-images.githubusercontent.com/19435583/157974893-6590f0c2-c1aa-4e24-9345-9ef82880f879.png">

[2022-03-15 07:08] mikhail-teslya commented on #205
@BALAGA-GAYATRI will there be an update on that? It's hanging in `waiting-for-customer` for more than a week now..

[2022-03-15 07:36] BALAGA-GAYATRI commented on #205
@drr1217  v1 always points to the latest release (v1.4.3). There shouldn't be any issue with that.

[2022-03-15 07:36] BALAGA-GAYATRI commented on #205
@mikhail-teslya We are working on the issue and keep you posted.

[2022-03-15 13:49] drr1217 commented on #205
@BALAGA-GAYATRI Agreed, however, before I had "azure/login@v1" and received the error. When I changed it to "azure/actions/login@v1" the error no longer occurs. I was never pinning the version 1.4.3.
@mikhail-teslya - just curious, does changing the action to "azure/actions/login@v1"fix the error for you too?

[2022-03-15 14:31] mikhail-teslya commented on #205
Hi @drr1217 the answer is in the issue https://github.com/Azure/login/issues/203 ;)

[2022-03-15 14:58] hoppeeri commented on #192
bump

[2022-03-15 17:02] mikeviviani commented on #188
I'm also interested into this topic.
My use case is able to pass credential to a reusable workflow. The caller will authenticate using OIDC federated credential and than call a reusable workflow to create pre-defined pieces in Azure like VM, Storage Account or AKS cluster.
So that an application team who wants a VM in Azure needs call a reusable pre-existing workflow created by Azure Platform Owne

[2022-03-16 17:28] BALAGA-GAYATRI commented on #205
@mikhail-teslya looks like you are running on portal's az cli which might have older incompatible version. I would suggest you to do `az login` and create creds using `rbac` from your local machine and let us know the results once. Ideally this should work.

[2022-03-17 10:22] mikhail-teslya commented on #205
Hi @BALAGA-GAYATRI !
Error is still the same, so it did not help.
Please check the below:
![azure-credentials-creation](https://user-images.githubusercontent.com/85156799/158785844-1461c880-8b0e-408a-b2d9-97e715a6a4ec.jpg)
credentials structured:
[code]
Debug logs (login step):
[2_Run azurelogin@v1.4.3.txt](https://github.com/Azure/login/files/8283796/2_Run.azurelogin%40v1.4.3.txt)

The workflow i

[2022-03-17 10:45] BALAGA-GAYATRI commented on #205
@mikhail-teslya  Any luck after switching  to `ubuntu-latest` or `macos-latest` instead of windows?

[2022-03-17 11:56] BALAGA-GAYATRI commented on #205
@mikhail-teslya Can you help me with one thing? Can you downgrade CLI version to maybe 2.33.1 and create credentials and let me know the result?

[2022-03-17 11:58] mikhail-teslya commented on #205
Hi, just tried and error is still the same

[2022-03-17 12:49] BALAGA-GAYATRI commented on #205
Also try changing the resource group, subscription (create a new one may be) and change the SPN name also and see if it works. I just created new credentials and tested with both 2.34.1 and 2.33.1 CLI and both are working for me with `azure/login@v1` .

[2022-03-17 18:35] mikhail-teslya commented on #205
Hi @BALAGA-GAYATRI! I can't change subscriptions easily, as it's managed by my organization. regarding different names - if you compare SPN names on screenshots [here](https://github.com/Azure/login/issues/205#issuecomment-1060260313) and [here](https://github.com/Azure/login/issues/205#issuecomment-1070758276), you'll see, that they're different. I can change it again, of course, but I can assure

[2022-03-21 08:32] BALAGA-GAYATRI commented on #204
This issue is already being tracked in https://github.com/Azure/login/issues/119. So closing it here.

[2022-03-21 08:32] #204 closed

[2022-03-21 08:35] BALAGA-GAYATRI commented on #197
@pavanm-huma Were you able to solve your issue using the above solution? Do let us know.

[2022-03-21 08:37] BALAGA-GAYATRI commented on #211
@sundareshwarank We are assuming the issue might be temporary (creds issue/ SPN creation issue etc.). Let us know if you are still facing the issue.

[2022-03-22 04:10] sundareshwarank commented on #211
It got resolved. Thanks for following up with me.

[2022-03-22 04:10] #211 closed

[2022-03-22 15:01] mikhail-teslya commented on #205
@BALAGA-GAYATRI I found an issue, it's not directly related to the login action itself, but to how github manages secrets for callable workflows: secrets are not accessible inside a reusable workflow, please see https://github.com/actions/runner/issues/1490. After passing secrets directly to a callable workflow from the calling workflow, login was successful. Thanks to all who got a moment trying

[2022-03-23 00:44] captainjono commented on #205
@BALAGA-GAYATRI we are experiencing the SAME using a `2.33.1` using `ClientSecret` + `Service Principle`

`Azure/Login@V1` will NOT WORK ever!!!

`Azure/actions/login@V1` WORKS fine.

[2022-03-23 01:03] AhirGhosh commented on #205
Also to add to the above comment, Azure/actions/login@V1 is working but generating an 'az upgrade' warning on ubuntu-latest.
So alongside the bug fix, upgrades to the GitHub hosted runners are also desirable for azure cli.

![image](https://user-images.githubusercontent.com/40377866/159601325-7b06a597-a26b-4a5f-b9a1-37c4436b6921.png)

[2022-03-23 19:23] BALAGA-GAYATRI commented on #205
@mikhail-teslya You can use the secrets in the local actions/reusable workflows as well but you need to pass them as environment variables. Anyways good to know that your issue was resolved. :)

[2022-03-24 18:23] tobiasdiez commented on #118
@BALAGA-GAYATRI ping

[2022-03-25 10:15] BALAGA-GAYATRI commented on #118
@tobiasdiez We shall look into it and let you know about this issue.

[2022-03-26 15:41] spacecat opened #213 "Login using OpenID Connect (OIDC) based Federated Identity Credentials not working (Login using Azure Service Principal with a secret works)"
I'm trying to run this example workflow from https://github.com/marketplace/actions/azure-login:

Note that I'm using `workflow_dispatch` instead of `push` but that should not matter.

[code]

I've registered my app according to:

https://github.com/marketplace/actions/azure-login#configure-a-service-principal-with-a-federated-credential-to-use-oidc-based-authentication

and

https://docs.microsof

[2022-03-28 16:40] t-dedah commented on #190
Hi @BALAGA-GAYATRI did we find any final deadlines for the deprecation ?

[2022-03-28 20:46] BALAGA-GAYATRI commented on #213
Hey, @spacecat Can you share the subject claim or the screenshot of your FIC(federated Identity credentials) creation? Also make sure the app you are creating is in the provided subscription & tenant.

[2022-03-28 21:09] roalexan commented on #205
FWIW, I hit the same problem and struggled through it, following various bits and pieces of what I read in this bug and [this one](https://github.com/Azure/login/issues/203) as well. The root cause for me was that the JSON that you paste into the GitHub "repository secret" MUST have the keys exactly as shown:

{
	"clientId": "AAA",
	"clientSecret": "BBB",
	"tenantId": "CCC",
	"subscriptionId": "DD

[2022-03-29 12:59] BALAGA-GAYATRI commented on #205
@captainjono @AhirGhosh
**There is no need to use `azure/actions/login@v1` as `azure/login@v1` is working perfectly fine for both OIDC and non-OIDC mechanisms**. This issue was initially labeled as `bug` because the reason was not known why the issue's author is not able to login. Now we got to know that it was [because of reusable workflows](https://github.com/Azure/login/issues/205#issuecomment-

[2022-03-29 16:51] roalexan commented on #205
@BALAGA-GAYATRI thanks. yes, creating a new service principal via "az ad sp create-for-rbac" with the --sdk-auth option will output the correct keys. In my case, I was using an existing service principal and did not want to generate a new one, so just pointing out how I got that to work for me.

[2022-04-05 23:32] briglx opened #215 "Why is Unicode Character U+202F in action.yml"
Opening the action.yml file shows the U-202F code in various locations:

![image](https://user-images.githubusercontent.com/1304774/161867544-940b633f-52e5-493b-b9e0-975d88b96d66.png)

[2022-04-06 04:07] horihiro opened #216 "Error `Unable to encode the output with cp1252 encoding.` is shown when logging in to a subscription which name contains Japanese characters and on Windows runner"
When trying to log in with a subscription which name contains Japanese characters by the following simple workflow, the logging in is failed with the encoding error like the following screenshot.

Workflow:
[code]

Error screenshot:
![image](https://user-images.githubusercontent.com/4566555/161893707-50277d56-1835-45a6-be8b-4d16f41ee6ca.png)

[2022-04-06 23:21] rafi-fisker commented on #87
When will this be added?

[2022-04-08 05:47] horihiro commented on #216
@BALAGA-GAYATRI could you please take a look at this or assign anyone?

[2022-04-08 13:04] daniel-olivieri-fmgl opened #217 "Parameter to return a jwt with expiry calculated from utc"
Having a few issues with tokens coming back that have already expired, I believe this is to do with Timezone. The calling pipeline is from a pod where the Timezone is set to UTC but the closest login endpoint will likely be set to utc+10.

Is it currently possible to correct this with some kind of 'isUtc' parameter/env variable?

Perhaps the action can do some correction logic so that the token re

[2022-04-11 09:17] BALAGA-GAYATRI commented on #215
@briglx we shall investigate this and keep you posted.

[2022-04-11 09:19] BALAGA-GAYATRI commented on #216
@horihiro we shall look into this issue and let you know.

[2022-04-11 09:23] BALAGA-GAYATRI commented on #217
@daniel-olivieri-fmgl this shall be investigated and we will you keep you posted.

[2022-04-11 09:25] #205 closed

[2022-04-11 09:27] BALAGA-GAYATRI commented on #197
@pavanm-huma assuming the above comments and referred docs helped you with azure login action and closing this issue. Feel free to reopen this issue if are still facing the problem. We will be happy to help you.

[2022-04-11 09:27] #197 closed

[2022-04-11 10:21] adukstad commented on #119
Any update here ?

[2022-04-12 07:46] #213 closed

[2022-04-12 12:09] BALAGA-GAYATRI commented on #202
@TheOnlyWei I want to understand if using `azure/login@v1` action multiple times in your workflow can help you switch the environments. Ideally, it should solve your problem.

[2022-04-12 12:40] BALAGA-GAYATRI commented on #215
Hey @briglx. It's just a NARROW NO-BREAK SPACE character and was perhaps introduced previously to prevent an automatic line break. It's just like space and shouldn't affect any functionality. If you are not comfortable with the view you can disable highlighting it and it shows up like a normal space. In vscode you can do this by moving the cursor on that character and adjusting the settings.

[2022-04-12 12:40] #215 closed

[2022-04-12 15:51] briglx commented on #215
Hi @BALAGA-GAYATRI, thanks for the clarification.

[2022-04-12 18:07] TheOnlyWei commented on #202
@BALAGA-GAYATRI Nope, using azure/login@v1 multiple times doesn't help log in in multiple contexts in parallel. The context is a single context across multiple applications. As my main post above said, because of this shared context, if one application logs into Azure, and then another application logs into Azure Stack, then the context has changed from Azure to Azure Stack. Azure and Azure Stack

[2022-04-18 05:17] BALAGA-GAYATRI commented on #202
@TheOnlyWei Thank you for the clarification. Can you try using [multiple jobs ](https://docs.github.com/en/actions/using-jobs/using-jobs-in-a-workflow)with each job using login action for different environments? This will help if your jobs are independent. If your jobs are dependent you can try running them sequentially also and see if it helps.

[2022-04-18 16:59] PaulRiviera commented on #190
Has the depreciation has already happened? the login action is breaking for me when I try to use new service principals. Rather then editing the output and risking human error I chose this path:

NOTE: I had trouble reading the GitHub secret directly to JSON

`- name: Login
      shell: pwsh
      env:
        AZURE_CRED: ${{ secrets.AZURE_SUB_NUO_PROD }}
      run: |
        touch github_secret.j

[2022-04-19 00:53] horihiro commented on #216
Hello @BALAGA-GAYATRI
I did addional check by the following job.

[code]

Then, the job was succeeded, even though the same warning message `WARNING: Unable to encode the output with cp1252 encoding. Unsupported characters are discarded.` was shown.
![image](https://user-images.githubusercontent.com/4566555/163898966-49d49098-c638-4f82-896c-e7e4f55cf8d2.png)

From this result, it seems that the `a

[2022-04-19 06:29] BALAGA-GAYATRI commented on #216
Sure. Will check this out and let you know. Thanks for the extra insights.

[2022-04-19 22:19] TheOnlyWei commented on #202
Hi @BALAGA-GAYATRI I already mentioned that the context is shared across applications (i.e., once you log into PowerShell, you log into the same context whether you're using Git Bash or Command Prompt). Using multiple jobs doesn't do anything.

Yes, obviously running jobs sequentially solves the problem. But that would defeat the purpose of having multiple Github Actions runners running a single p

[2022-04-26 14:59] BALAGA-GAYATRI commented on #217
@daniel-olivieri-fmgl @zoebosschaart All the token times are in UTC only. That shouldn't be a problem.

https://github.com/Azure/login#github-action-for-azure-login ⬆️
Currently, the token available for login in our action has limited validity and it expires after that. However, one can [configure the validity](https://docs.microsoft.com/en-us/azure/active-directory/develop/configure-token-lifetim

[2022-04-27 06:09] #217 closed

[2022-04-27 10:31] BALAGA-GAYATRI commented on #190
@PaulRiviera The same command to generate credentials should work as the deprecation is yet to happen. I guess you are using without `--sdk-auth` and generating credentials. That new format doesn't work. Please use the old one only.

https://github.com/Azure/login#configure-a-service-principal-with-a-secret

[2022-04-27 10:45] andrewconnell opened #220 "❓ Set range of tags from repo in GitHub federated token in the subject identifier?"
Can you set a range of tags as the subject identifier for the federated credential? Seems I can only specify a single tag... is that a limit?

I've been able to configure a federated credential by explicitly setting the tag name, but this is really only useful as a "one-time" credential? My intention is to authenticate on ANY tag, just like you can authenticate on any pull request.

I've tried dif

[2022-04-27 12:05] PaulRiviera commented on #190
@BALAGA-GAYATRI I was using the old way but the Azure Login github action began failing when the credentials were generated with the `--sdk-auth` flag. Its possible there was a version mismatch that caused the issue as my old workflows (3 months+) continued to work but any credential I created new would fail.

[2022-04-27 15:11] PaulRiviera commented on #190
@BALAGA-GAYATRI I did retry it and was not able to reproduce my error from 9 days ago, which I guess is good but concerning that I don't know what I did wrong.

The following is the format for the credential JSON output:

[code]

I will continue to use this old way until the flag is removed.

[2022-04-28 02:02] smokedlinq commented on #220
Just ran into this myself. Advice on how to work with releases would be appreciated.

[2022-04-28 08:32] zoebosschaart commented on #180
Following this issue as I experience the same.

[2022-04-28 10:45] andrewconnell commented on #220
@smokedlinq I also opened https://github.com/MicrosoftDocs/azure-docs/issues/92100... did that first before I thought it might be more appropriate for the GH action (this repo). Mentioning for your tracking...

[2022-04-28 16:56] BALAGA-GAYATRI commented on #119
@ricardocmartin Are you using a GitHub hosted runner or a self-hosted runner? Can you share your workflow and run logs. I shall try to understand the reason for it taking this much time.

[2022-05-02 14:16] #216 closed

[2022-05-04 06:48] BALAGA-GAYATRI commented on #216
Fixed this bug in [v1.4.4](https://github.com/Azure/login/releases/tag/v1.4.4) and updated `azure/login@v1` with the latest release.

[2022-05-04 07:58] horihiro commented on #216
Thanks @BALAGA-GAYATRI !

[2022-05-04 11:07] BALAGA-GAYATRI commented on #176
We have [app creation and FIC attaching process](https://docs.microsoft.com/en-us/azure/developer/github/connect-from-azure?tabs=azure-portal%2Clinux#use-the-azure-login-action-with-openid-connect) available using azure portal as well which makes it much easier for customers to add and manage new FICs and apps. So closing this issue.

[2022-05-04 11:07] #176 closed

[2022-05-04 11:53] BALAGA-GAYATRI commented on #188
You can use the environment variables in your workflow and initialize them with your SPN details. This adds them to the workflow environment. @mikeviviani This helps you with reusable workflows case as well. Refer [environment variables](https://docs.github.com/en/actions/learn-github-actions/environment-variables#about-environment-variables) for more details. You may also refer to this [example](

[2022-05-04 11:53] #188 closed

[2022-05-09 06:30] BALAGA-GAYATRI commented on #220
Hey @andrewconnel. Currently, regex support is not provided. You have to pass individual tags/branches for the subject claim. However, we shall keep you updated if we have any information about AD's roadmap to address this. Thank you.

[2022-05-09 06:30] #220 closed

[2022-05-09 08:39] BALAGA-GAYATRI commented on #27
In the latest OIDC support added to the login action, we aren't asking for any password information from the user for login. So closing this issue.

[2022-05-09 08:39] #27 closed

[2022-05-09 09:01] BALAGA-GAYATRI commented on #195
Hi @mayong43111 Sorry for the delayed response. In the last quarter, we did not plan any enhancements. I'm looking at your PR now and will reach out to you for committing to this change.

[2022-05-10 12:14] johncclayton commented on #119
Any update? I'm also having this issue - I am using a GitHub hosted runner.

[2022-05-10 20:01] u7x3611 commented on #203
I am also trying Windows Self hosted runner and it fails even i have CLI installed on machine, any idea?

[2022-05-11 16:18] BALAGA-GAYATRI commented on #119
@johncclayton The issue with GitHub hosted runner should be intermittent and retrying after some time should fix the issue. Let us know how much time its taking for you to login and also let us know if you are doing PowerShell login. This will help us understand the issue if any.

[2022-05-11 20:47] tobiasdiez commented on #118
Any news about this @BALAGA-GAYATRI

[2022-05-12 17:56] BALAGA-GAYATRI commented on #103
<img width="1322" alt="Screenshot 2022-05-12 at 11 18 48 PM" src="https://user-images.githubusercontent.com/26038662/168137389-0e6ccf31-a47c-4abf-90e8-8dab65bfaea9.png">
Recently tested a few samples of the self-hosted runner download time for login action. All of them shows similar times. It is taking around 10-12 seconds including downloading, unwrapping and archiving the action repo. So closing

[2022-05-12 17:56] #103 closed

[2022-05-13 04:42] ninallam opened #223 "Alternative for --sdk-auth for login action"
I am from Azure Load Testing team and our action has a dependency on Azure Login action. Our customers have raised an [issue](https://github.com/MicrosoftDocs/azure-docs/issues/92827) that Azure CLI has deprecated `--sdk-auth` from `az ad sp create-for-rbac` and our docs need to be updated accordingly. Can you suggest an alternative for this which would be compatible with the login action?

[2022-05-13 06:28] BALAGA-GAYATRI commented on #223
Hi @ninallam So this deprecation is not yet done. This is on hold due to its consumption in azure actions. We have updated our docs also about the same.

[Ref ⬆️ ](https://github.com/Azure/login#configure-a-service-principal-with-a-secret)
So you can use it and should be working fine for now. However there is also[ OIDC login mechanism](https://github.com/Azure/login#configure-a-service-principal-

[2022-05-13 06:28] #223 closed

[2022-05-16 07:20] BALAGA-GAYATRI commented on #119
We have analyzed the breakup logs and observed that `Get-Module` was taking around 30s-1min. `Get-Module` is a PS command used for importing the required modules to the execution context which are already installed. Since the implementation of the command lies with PowerShell itself, I would encourage raising an issue there itself. In our action, we are **just getting the latest az module** using

[2022-05-16 07:20] #119 closed

[2022-05-19 10:47] vslatten commented on #180
Also experiencing this issue for a long-running workflow.

[2022-05-23 11:25] BALAGA-GAYATRI commented on #202
@TheOnlyWei
I'm just wondering if the below steps can help you achieve your desired state.
1. Use `azure/login@v1` in your workflow with `enable-AzPSSession: true `
2. And then in the next step use `azure/powershell@v1` action where the `inlineScript` contain
    `Connect-AzAccount -Scope Process`
Do give it a try and let us know if that works.

[2022-05-25 12:14] prisamuel opened #225 "Update dependency - Node.js 12 reached end of security updates at the end of April 2022"
This still appears to be using Node 12, which reached the end of life for security updates at the end of April 2022. Can you please update this to using a later version of NodeJS.

https://endoflife.date/nodejs

https://github.com/Azure/login/blob/e021afe0dc2c3f2f22e22420d8cf7a75ca46513e/action.yml#L37

[2022-05-25 12:25] Ba4bes opened #226 "Preview in the web interface doesn't appear"
When you create or edit a workflow in the browser, you can use the assistant at the right side of the screen.
When you search (and find) the Azure Login Action, it doesn't show a preview of the YAML to copy paste. See screenshot:

![image](https://user-images.githubusercontent.com/43912004/170259970-16fad450-cc5d-4a54-9fc0-904054b33640.png)

That is de default version that is shown. When you chang

[2022-05-30 21:01] MariusStorhaug opened #227 "Feature request: Add parameter for `client-secret`"
Please add a parameter/input for `client-secret` removing the need for `creds` which is suggestion use of json data structure, which is not recommended by the GitHub team.

[2022-06-02 10:03] januszj opened #228 "The key 'id-token' is not allowed"
In GitHub Enterprise Server 3.4.3 using self hosted runners, when I try to use login action:

[code]

I'm getting error message:
The workflow is not valid. .github/workflows/azure-kubernetes-service-helm.yml (Line: 24, Col: 13): The key 'id-token' is not allowed .github/workflows/azure-kubernetes-service-helm.yml (Line: 40, Col: 13): The key 'id-token' is not allowed

![image](https://user-images.

[2022-06-02 16:13] klyse commented on #227
Struggling exactly there. I'd like to configure ClientID and Secret instead of storing a json block in the Action Secrets. Any workarounds available?

This is not really working but I am unable to get detailed logs to why.
[code]

[2022-06-05 19:08] christianacca commented on #180
Solution still required

On Thu, 2 Jun 2022, 16:03 github-actions[bot], ***@***.***>
wrote:

[2022-06-06 22:16] JustinGrote opened #231 "Does not add Az module path if GitHub OIDC login is used."
[code]

## Workaround

[code]
![image](https://user-images.githubusercontent.com/15258962/172265270-d49690b0-2bd1-4c14-b5b5-ade39d0e2d1d.png)

[2022-06-07 16:34] JustinGrote commented on #231
I made a pure PowerShell way to handle this rather than this action if all you need is Az PowerShell + OIDC login. Takes less than 5 seconds vs the 30+ seconds this action takes.
https://gist.github.com/JustinGrote/2603d2ede81b23cf251978d2771b3522

[2022-06-08 09:06] BALAGA-GAYATRI commented on #226
Hey @Ba4bes
We follow [this process](https://github.com/Azure/actions/blob/main/docs/release-process.md) for release management. It could have occurred because of updating the major version with the latest release. You can use the one suggested for the latest release(`v1.4.4`) with which the major version(`v1`) is always updated.

[2022-06-08 09:06] #226 closed

[2022-06-08 10:35] BALAGA-GAYATRI commented on #231
Hello @JustinGrote. I'm assuming you are facing an issue while trying to execute az pwsh commands after login action. The solution would be using [azure/powershell@v1](https://github.com/Azure/powershell) action which will have az ps module added to the path. Hope it helps with your problem. Feel free to reopen if the problem persists.

[2022-06-08 10:35] #231 closed

[2022-06-08 10:37] BALAGA-GAYATRI commented on #227
@MariusStorhaug @klyse you can use OIDC if you don't want to have json objects as secrets. OIDC wouldn't be requiring `client-secret` to provide. This will make it even more simpler. Refer to [this ](https://github.com/Azure/login#configure-a-service-principal-with-a-federated-credential-to-use-oidc-based-authentication)for getting started.

[2022-06-08 12:28] Ba4bes commented on #226
But isn't this a bug?
None of the other Azure actions have this, only this one and the Azure ARM deploy Action.

This is the one for Azure web app, you can see the version directly here
![image](https://user-images.githubusercontent.com/43912004/172615992-ef8370ed-b78a-4a4f-8e23-c8c53b208284.png)

The fact that you cannot see the code directly is confusing for beginners and an unexpected result. W

[2022-06-09 09:07] BALAGA-GAYATRI commented on #228
@januszj OIDC login is supported from GHES 3.5 onwards. You can have the regular spn login if you continue to use the previous version.
Ref -  https://docs.github.com/en/enterprise-server@3.5/admin/release-notes#openid-connect-oidc-for-secure-deployments-with-github-actions

[2022-06-09 09:07] #228 closed

[2022-06-15 10:41] emassimi opened #233 "Login with service principal fails: The received access token is not valid: at least one of the claims 'puid' or 'altsecid' or 'oid' should be present"
Hi, I have followed the [instructions](https://github.com/Azure/login#configure-a-service-principal-with-a-secret) on how to login via service principal, and I'm getting the following error in the pipelines:

[code]

I'm not sure whether I'm missing anything, but googling for that error doesn't seem to yield anything particularly useful. However, this doesn't seem like an error on my end as I've f

[2022-06-15 15:07] #233 closed

[2022-06-15 19:46] kgage-fi commented on #192
Same error for me.

[2022-06-21 11:49] BALAGA-GAYATRI commented on #225
Addressed it in [v1.4.5](https://github.com/Azure/login/releases/tag/v1.4.5)

[2022-06-21 11:49] #225 closed

[2022-06-21 11:49] BALAGA-GAYATRI commented on #225
Thank you @prisamuel for pointing it out

[2022-06-21 14:22] spacecat commented on #213
Sorry I haven't had time to check back on this. Will do though when I have time. Thanks.

[2022-06-22 06:27] klyse commented on #227
Thanks for the update. I had two issues:
1. I couldn't really see why the login failed from the GitHub action logs. I used [act](https://github.com/nektos/act) to debug my action locally and showed me the problem:
2. Secrets are stored in uppercase so the var can be accessed like this: `secrets.AZURE_CLIENT_ID` and not `secrets.azure_client_id`

What's interesting with your answer @lomholdt is tha

[2022-06-22 07:14] BALAGA-GAYATRI commented on #227
Closing this issue as we had the workarounds for the same. Please refer [readme](https://github.com/Azure/login/blob/master/README.md#configure-a-service-principal-with-a-secret) for more details.

[2022-06-22 07:14] #227 closed

[2022-06-22 07:16] BALAGA-GAYATRI commented on #202
Hope the workaround helped you. If not, since you are already tracking it in CLI repo, we can reopen if CLI provides the support for the same.

[2022-06-22 07:16] #202 closed

[2022-06-22 11:42] BALAGA-GAYATRI commented on #192
In order to get unblocked with this scenario please use [Azure/cli@v1](https://github.com/azure/cli) action and provide `az login <arguments>` in the input. Make sure to follow [this](https://docs.microsoft.com/en-us/cli/azure/use-cli-effectively#use-hyphen-characters-in-arguments) while using the command there. Since a workaround is provided here, closing this issue.

[2022-06-22 11:42] #192 closed

[2022-06-25 19:01] christianacca commented on #180
Required please

On Mon, 20 Jun 2022, 01:09 github-actions[bot], ***@***.***>
wrote:

[2022-07-01 15:13] arnaud-tincelin opened #236 "Setting AZURE_CREDENTIALS as a secret breaks Github best practices"
From https://docs.github.com/en/actions/security-guides/encrypted-secrets:

As a result of setting AZURE_CREDENTIALS as a secret, the secret content can be displayed in the console in our workflows.
I believe the example `creds: ${{ secrets.AZURE_CREDENTIALS }}` should be removed from the readme and the input `creds: ` value should instead be built from simple (non-json) secrets or removed from th

[2022-07-08 19:37] christianacca commented on #180
Royal pain in the butt this one. Requires splitting up any long running ARM / scripts to login between each split out piece

[2022-07-11 07:29] BALAGA-GAYATRI commented on #236
Hi @arnaud-tincelin. Thank you for raising this concern. We have documented this as an alternative way to pass secrets. Please check it out.

Also one can leverage the OIDC login mechanism in this action for more secure login.

[2022-07-11 07:29] #236 closed

[2022-07-13 15:24] matt-FFFFFF commented on #180
Current OIDC token lifetime seems to be about 4 minutes, this is WAY too short and should have a sensible default. Consider that GitHub Actions jobs can run for [6 hours](https://docs.github.com/en/actions/learn-github-actions/usage-limits-billing-and-administration#usage-limits).

@BALAGA-GAYATRI Is there an update here? Do you have a link to the upstream issue on Azure CLI?

Thanks

[2022-07-17 21:54] santiagxf opened #238 "If secrets start with a dash (-), parameters are parsed incorrectly"
When using a JSON credentials where the `clientSecret` starts with a `-`, then the login fails.

Example configuration:

[code]

Error:
`: argument --password/-p: expected one argument`

When the secret is replaced with one without the `-`, authentication works as expected. This is problematic for systems that do automatic rotation of secrets.

[2022-07-26 21:24] kgage-fi commented on #238
We have been experiencing this same issue when our secrets are cycled.

[2022-07-28 13:56] BALAGA-GAYATRI commented on #238
Already addressed here https://github.com/Azure/login/issues/192. So closing it.

[2022-07-28 13:56] #238 closed

[2022-07-29 17:36] christianacca commented on #180
Still required

On Wed, 27 Jul 2022, 19:02 github-actions[bot], ***@***.***>
wrote:

[2022-08-05 11:12] AzySir commented on #87
This really needs to be added - now I just have to run a script for this so I don't use your provider anymore...

[2022-08-05 20:23] timkowal commented on #180
Bump.

Using the alternate login method is less secure than OIDC.

[2022-08-14 13:52] sandrochristiaan commented on #180
Bump.

Any update on when the solution might be implemented?

Please notify, so we can determine to go with the subpar sp secret approach...

Thanks.

[2022-08-25 08:57] alexanderdavide commented on #205
For me, the problem was that I was testing locally with [act](https://github.com/nektos/act) which doesn't have the Azure CLI installed as opposed to [Ubuntu based GitHub Shared Runners](https://github.com/actions/runner-images/blob/bbc911bacaf802fe776bc49536afa481adf6d0f6/images/linux/Ubuntu2004-Readme.md#cli-tools). In such cases, simply [install Azure CLI](https://docs.microsoft.com/en-us/cli/a

[2022-08-29 09:01] christianacca commented on #180
bumo

On Sun, Aug 28, 2022 at 4:02 PM github-actions[bot] <
***@***.***> wrote:

[2022-09-08 21:22] N-Usha commented on #180
Thanks for your patience on this Folks.. Can u please confirm if you have explored the Azure settings to modify the life time of the access token: https://docs.microsoft.com/en-us/azure/active-directory/develop/access-tokens#access-token-lifetime.

While we acknowledge that this is not a permanent solution, we believe that it can help if the workflow running time is slightly more than the default

[2022-09-09 09:41] sandrochristiaan commented on #180
Hello @N-Usha I have modified the token lifetime using the Microsoft documentation mentioned.
It does not make any difference at all, deployments will fail due to the token expiring after a short period of time.

I opened a case with Microsoft on this. They have told me that the token lifetime policy will only apply to the SP token and not the assertion from the federated credentials.
An auto-refr

[2022-09-09 17:46] N-Usha commented on #180
Thanks @sandrochristiaan. We have it on our backlog to address the refresh issue and will have it addressed soon. Will surely keep you posted on the timelines.

Yes, we definitely recommend OIDC for authentication as it helps avoid transacting with cloud credentials as secrets. And we are committed to making the experience better for our customers. Thanks for your support again.

[2022-09-15 21:16] tgillitzer commented on #233
@emassimi I got the same error.   I reverted to version 1.1 of the action and then it worked fine.   I didn't try other versions yet.

@BALAGA-GAYATRI maybe this should be re-opened?   Or should I open a new issue?

[2022-09-20 08:43] fredrkl commented on #192
IMHO: a bit odd to close this issue as it is a bug. Maybe update the documentation with this workaround?

[2022-09-26 13:50] sandrochristiaan commented on #180
bump

[2022-09-26 19:02] devopsjesus opened #248 "OIDC Login to US Gov Cloud Fails when enabling PS Session"
When setting the `environment` attribute to 'AzureUSGovernment', the following non-terminating error is thrown in the Login step:

`Error: undefined. Please make sure to give write permissions to id-token in the workflow.`

Despite this error being thrown, any Login step that does not set the `enable-AzPSSession` attribute will complete successfully. That said, any Login step that DOES set the `en

[2022-09-27 07:13] BALAGA-GAYATRI commented on #248
Hello @devopsjesus , Thanks for raising the issue. However, OIDC login is not supported for Government clouds as of now. But you can go ahead with creating SPN with `rbac` command as given in the readme.

[Reference from the readme ](https://github.com/Azure/login#github-action-for-azure-login)

[2022-09-27 07:13] #248 closed

[2022-09-27 12:52] janjongerden-tomtom opened #249 "Login fails when the service principal key starts with '-'"
When the service principal secret starts with `-`, a [known bug](https://github.com/Azure/azure-cli/issues/7054) in the az cli is triggered, and the login action fails with:

[code]

The workaround is to use the `-p=<the_secret>` syntax instead of `-p <the_secret>`.

I see there's actually already [an open PR](https://github.com/Azure/login/pull/241) that would fix this.

[2022-09-29 01:13] rthota90 opened #250 "AADSTS16002: Application requested to sign out of a user session which does not exist"
Hi,

Sometimes, I am getting error  **AADSTS16002: Application requested to sign out of a user session which does not exist** in web browser azure portal.

Details: windows 10, Microsoft edge browser.

[2022-09-29 14:01] robguy21 commented on #205
In case someone else stumbles across this: my problem was that someone sent me a json payload from powershell with the `“` instead of `"` so my json wasn't valid which failed the authentication.

[2022-10-03 04:10] rthota90 commented on #250
Adding screenshot for reference.
![image](https://user-images.githubusercontent.com/17005976/193500116-374af17b-2784-437d-9b3b-4867ffeb76de.png)

[2022-10-03 06:57] #250 closed

[2022-10-09 21:41] dotjohann commented on #205
Hey,

I've followed this feed, still getting this error : `Error: Az CLI Login failed. Please check the credentials and make sure az is installed on the runner.`, tried everything and still fails, here is my setup :

Version on self-hosted runner : `"azure-cli": "2.40.0"`. Created the SPn - 3 times but the same error, with this command : `az ad sp create-for-rbac --name "ABCXYZ" --role contributor

[2022-10-10 12:48] BALAGA-GAYATRI commented on #249
Sorry for the delayed response. We shall take a look and let you know about the changes. Thanks!

[2022-10-10 15:58] matt-FFFFFF commented on #180
Still necessary

[2022-10-13 11:08] Graham-getOptimal opened #252 "InvalidAuthenticationToken during Github deploy to Azure Action"
We recently got error **AADSTS7000222: The provided client secret keys for app 'xxx' are expired** when running a GitHub Action to deploy to Azure. We followed the link and updated the GitHub secret using the recommended az cli statement

`az ad sp create-for-rbac --name "GetOptWebApp" --role contributor --scopes /subscriptions/xxxxxxxxx-c58c-4997-b97a-xxxxxxxxx/resourceGroups/webApp --sdk-auth`

[2022-10-15 07:13] jbenaventem opened #254 "CodeQL v1 will be deprecated"
The CodeQL action v1 will deprecated on december 7Th.

It`ll be good update to version 2

[2022-10-19 19:19] GoogleCoop opened #255 "Please help delete all references or connections between robertc5084@outlook.com and google workspace acct. robert@drcooper.org."

[2022-10-21 03:55] bsm-github-jp commented on #205
For others having similar issues our use case is Azure Kubernetes Service deploying via github actions using OIDC. When you use the wizard to add a new workflow it creates a github secret named AZURE_CLIENT_ID each time you create a new workflow. Great if you only have one of them, in our use case we have several and had to create a custom secret for AZURE_CLIENT_ID such as AZURE_CLIENT_ID_PROD fo

[2022-10-24 19:51] matt-FFFFFF commented on #180
Still necessary (this is fun 👍)

[2022-10-25 16:13] Avrohom613 opened #256 "Recieving error when loging in to Azure"
Hi
I'm testing a very simple yaml workflow using `nektos/act` trying to login to Azure and I'm receiving an error on the login step
`Error: The runs.using key in action.yml must be one of: [composite docker node12], got node16`

Here is the yaml:
[code]

I have my secrets file set up, I tried running it on ubuntu using node 16..
This has worked in the past. Am I doing something wrong, or is this a

[2022-10-26 09:21] BALAGA-GAYATRI commented on #255
Hello @GoogleCoop , this repository issue forum deals with only issues regarding azure login through github actions. Since your issue doesn't seem like one, I'm closing this.

[2022-10-26 09:21] #255 closed

[2022-10-26 09:38] BALAGA-GAYATRI commented on #256
Can you try removing the

[code]
and try again and let me know the result.

[2022-10-26 09:40] BALAGA-GAYATRI commented on #254
Hi @jbenaventem , This repository deals with only azre/login issues. Can you please explain the issue in detail and where exactly changes would be required

[2022-10-26 12:01] Avrohom613 commented on #256
I ran `apt update` on my ubuntu, and it now works.
Thanks for your help!

[2022-10-26 12:01] #256 closed

[2022-10-26 23:22] arnoldna opened #257 "Feature: OpenID Connect support for AzureUSGovernment and AzureChinaCloud"
- Added OpenID Connect (ODIC) support for AzureUSGovernment and AzureChinaCloud

[2022-10-27 05:03] jbenaventem commented on #254
Hi  @BALAGA-GAYATRI

You can see the modified files on the associated pull request #253

To can use this action in our organizations we should check several security checks, and we need that the actions verified these controls successfully.

For that, we use CodeQL and dependaboot tools in a similar way that you. Is for that we've seen that the action used in codeql YAML file will be deprecated on

[2022-10-27 15:23] RenatoMartins-tomtom commented on #180
bump again. More than one year in the making? Plenty of docs about github actions + azure using OIDC (perfect, no need to rotate credentials). And the pipeline can run for negligible < 10 minutes?
https://learn.microsoft.com/en-us/azure/developer/github/connect-from-azure?tabs=azure-portal%2Cwindows

https://docs.github.com/en/actions/deployment/security-hardening-your-deployments/configuring-open

[2022-10-27 16:02] sandrochristiaan commented on #180
@RenatoMartins-tomtom I totally agree, it is a bit weird the difference between reality and what is being propagated in the documentation.

I would be quite happy to just have a 'draft' timeline on when to expect possible work to be done on this issue :|

Please can someone please provide a real answer on what we can expect?

[2022-10-28 03:40] udayxhegde commented on #180
The tokens you get for the Application registration should be valid for an hour, not less than that. If anyone has tokens expiring less than an hour, can you provide more details on your action and where it is expiring?

Also: federation on managed identities is in public preview, and these tokens should work even if the actions take 5 hours. Please see if that addresses your scenario in a better

[2022-10-28 07:42] RenatoMartins-tomtom commented on #180
Hi @udayxhegde . The error I get is similar to this:
[code]

The action is as simple as this
[code]
And the PS script being run is just calling a bunch of Get-AzAdGroupMember for all AD groups starting with a given prefix (in a foreach-object -parallel). And this happens every time the action takes more than 10 mins. Tenant settings are per default (which should make the token valid for 1 hour). O

[2022-10-28 07:56] arnemorten commented on #180
I experienced this problem when using az acr login. We build multiple images so sometimes it takes more than 5 minutes before we can push the next image. We solved it by just running az acr login multiple times. Did not see this behavior before we switched to federated credentials with azure/login@v1.

 @RenatoMartins-tomtom I think if you can workaround this issue by using the az cli commands ins

[2022-10-28 08:40] cwe1ss commented on #180
Here's my error with a sample workflow. As you can see, this does just log in and wait for 11 minutes between two calls to the Az PowerShell module.

[code]

Output from azure/login:
<details><summary>Show output</summary>

2022-10-28T08:12:27.5734334Z ##[group]Run azure/login@v1
2022-10-28T08:12:27.5734597Z with:
2022-10-28T08:12:27.5734991Z   client-id: ***
2022-10-28T08:12:27.5735275Z   tenant-

[2022-10-31 12:48] matt-FFFFFF commented on #180
Another issue here with the token validity here, the token only being valid for 5 mins!

Using Azure/Login with Service Principal:

[code]

[2022-10-31 17:22] hansmbakker opened #261 "[Azure Portal bug] Wrong Subject value generated via the Portal for Federated Credential in User Managed Identities"
There is a bug in the Azure Portal that affects the creation of Federated Credentials for **User Managed Identities** using the template for Github Actions. Creation of Federated Credentials for Service Principals via the Azure Portal using the template for Github Actions is not affected.

What happens:
The generated `Subject` identifier field of Federated Credential contains a slash (`/`) instead

[2022-11-02 08:50] rwaal commented on #180
We are having the exact same issue as @cwe1ss mentioned [here](https://github.com/Azure/login/issues/180#issuecomment-1294707313).
@BALAGA-GAYATRI, are you still involved with this issue? Any ideas on timelines? Thanks in advance.

[2022-11-02 13:14] BALAGA-GAYATRI commented on #180
There are a few things that we came across while looking at this issue.

1. The known limitation of access-token expiry and absence of a refresh mechanism. This is one potential cause for the failure of long-running workflows which go beyond the default validity of the access-token. For the default values please check this - https://learn.microsoft.com/en-us/azure/active-directory/develop/access-t

[2022-11-02 15:23] BALAGA-GAYATRI commented on #257
Hi @arnoldna, thanks for raising this issue. We are marking this as an enhancement and will post the updates here.

[2022-11-02 15:28] BALAGA-GAYATRI commented on #261
Hi @hansmbakker, we will take a look at the issue and share the updates. Thanks!

[2022-11-03 10:28] BALAGA-GAYATRI commented on #180
A tracking issue for this has been opened in PowerShell for this. Link to the issue - https://github.com/Azure/azure-powershell/issues/20013

[2022-11-04 05:46] sonomirco opened #262 "Action fails if it runs in a reusable workflow."
Hi there,
I have a reusable workflow used by a matrix.
`
 building:
    needs: bumping
    strategy:
      matrix: ${{ fromJSON(needs.bumping.outputs.versions) }}
      fail-fast: true
    uses: sandbox-2/TestNodebox/.github/workflows/deployment.yaml@main
`

If I run `azure/login@v1` inside the reusable workflow `deployment` I have this error.
`Error: Az CLI Login failed. Please check the credenti

[2022-11-04 06:10] BALAGA-GAYATRI commented on #257
@udayxhegde Is OIDC login supported for government clouds? If not, do we have any timelines for this?

[2022-11-04 09:34] shubhamdeodia commented on #249
any updates on this issue ?

[2022-11-04 16:11] Kbs56 opened #263 "Warning in workflow about nodejs version"
It looks like GitHub will be deprecating NodeJS version 12. When using the azure/login function this warning is received:
![image](https://user-images.githubusercontent.com/25680651/200022467-7938614e-056e-4805-a9c7-f0d683236a9b.png)

Here is the text from the warning:

[2022-11-04 21:51] sonomirco commented on #262
Problem solved.
It was a problem with the secrets, they needed to be passed to the reusable workflow.
![image](https://user-images.githubusercontent.com/57708659/200080350-39f3dc10-4e3b-460e-bdb3-293d00337876.png)

[2022-11-04 21:51] #262 closed

[2022-11-07 04:49] BALAGA-GAYATRI commented on #263
Hi @Kbs56, thanks for raising the issue. We shall take a look at this.

[2022-11-07 04:50] BALAGA-GAYATRI commented on #254
Thank you for the detailed description and PR. We will take a look and merge it.

[2022-11-07 15:28] marvinbuss commented on #249
I can also confirm that this causes the GH Action to fail.

[2022-11-08 17:05] hansmbakker commented on #261
I could not reproduce the issue anymore today...

[2022-11-08 20:30] matsest opened #269 "Clarify OIDC based login expiry"
I've been using the OIDC based login, and the support from this action for it is great! However, I have stumbled across that tokens used for OIDC based logins does expire, and that it seemingly is not a method in this action to configure it (client side)

The README states

Is it possible to clarify (in the README)

1) What is the default expiry time (or where to find it for a given app/federated

[2022-11-11 14:21] RenatoMartins-tomtom commented on #180
Just today, noticed it will fail when using CLI as well. Well, the action calls a powershell script, but in there, all the commands are CLI commands (powershell commands are not AZ-Powershell ones, only foreach, write-out, or similar ones). After going for 13 mins in a loop, it would try an
[code]

failing with the same error

[code]

and there's certainly no way to use az login...

[2022-11-11 18:00] GoogleCoop commented on #255
Service? The problem with geeks is they tell you "wrong" but never tell you what right is. Very, very poor service agenda

[2022-11-15 15:47] BALAGA-GAYATRI commented on #269
Hi @matsest,
Here is the doc for [understanding azure access-token lifetime](https://learn.microsoft.com/en-us/azure/active-directory/develop/access-tokens#access-token-lifetime)
and the [doc for configuring them](https://learn.microsoft.com/en-us/azure/active-directory/develop/configure-token-lifetimes)
However, some customers are reporting problems with configuring them. We are working with AD t

[2022-11-15 15:49] BALAGA-GAYATRI commented on #180
@RenatoMartins-tomtom Please share your workflow masking sensitive information. This can help us get better idea on the issue you are facing.

[2022-11-15 15:51] BALAGA-GAYATRI commented on #249
We have acknowledged the issue. We shall let you know the updates. Thanks!

[2022-11-15 21:59] leahy268 commented on #180
Hey guys,

This is a serious problem.  At the moment we are able to workaround the issue by splitting longer running PowerShell scripts up into smaller parts and logging in again.

However that isn't always possible.

Please see my better software suggestion here:

https://bettersoftwaresuggestions.com/github/github-azure-login-allow-custom-expiry-time-for-oidc-token/

[2022-11-16 11:43] BALAGA-GAYATRI commented on #254
Merged the PR and closing this issue

[2022-11-16 11:43] #254 closed

[2022-11-16 15:16] RenatoMartins-tomtom commented on #180
Sure,

here is the workflow

[code]

The script it calls is below, Note it is purely cli based (powershell is only used as a scripting language, no Az-ps commands are ever called). Eventually fails after 10+ mins. The ones that use any az-ps commands will fail for sure:
[code]

[2022-11-16 18:14] ondrelogin commented on #249
Hello Gayatri @BALAGA-GAYATRI

I was able to recreate this issue while going through an AKS learn module w/the github project [mslearn-aks-deployment-pipeline-github-actions](https://github.com/MicrosoftDocs/mslearn-aks-deployment-pipeline-github-actions).

I ran into the issue in Unit 10 of the [learn module](https://learn.microsoft.com/en-us/training/modules/aks-deployment-pipeline-github-action

[2022-11-21 06:03] #263 closed

[2022-11-21 06:04] BALAGA-GAYATRI commented on #263
Fixed it

[2022-11-22 18:12] #261 closed

[2022-11-27 04:22] vancejc commented on #205
For those who may have stumbled across this like I did, alternatively you can utilize the `-P ubuntu-latest=nektos/act-environments-ubuntu:18.04` flag for `act` which utilizes a 'full' ubuntu runner - https://github.com/nektos/act#default-runners-are-intentionally-incomplete

[2022-11-29 01:04] N-Usha commented on #180
Looping in @dcaro and @chasewilson from Azure PowerShell team, who are exploring a resolution for this issue in Az PS.

[2022-11-29 14:03] hansmbakker opened #275 "[Feature Request] Output data returned from az login command"
I would like to obtain the data returned from the `az login` command that the github action performed.

Specifically, after logging in I would like to obtain the `objectId` of the principal, so that I can use it for role assignments.

Alternatives considered:
- ~get it with another call like `az ad signed-in-user show --query id -o tsv` but that requires a redundant call~ this does not work when `

[2022-11-29 21:31] Piedone commented on #263
This was fixed here, BTW: https://github.com/Azure/login/commit/14a755a4e2fd6dff25794233def4f2cf3f866955#diff-1243c5424efaaa19bd8e813c5e6f6da46316e63761421b3e5f5c8ced9a36e6b6L37 It's part of 1.4.5.

[2022-11-30 09:35] RUBenGAMArrarodRiguEZ-ToMtOm commented on #249
Has it been tested with some sensible values? For example the hyphen like mentioned here?

[2022-11-30 21:55] onionhammer opened #276 "Allow specifying `creds` and `subscription-id`"
It appears that you can only specify one or the other, but it would be useful to be able to override settings like `subscription-id` in `creds` if present for cases where you have one credential with access to multiple subscriptions on different environments